 <% content_for :head do%>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Mybataz - Privacy Policy</title>
    <meta property="description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
    <meta property="og:title" content="Mybataz - Privacy Policy">
    <meta property="og:description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
    <meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/mybataz/banners/header.jpg">
    <meta property="og:url" content="https://mybataz.com/privacy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home_page', 'data-turbolinks-track'=> true %>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,400,700"%>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700"%>
    
  <%end%>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->




  <!-- start header section -->

  <header id="header" class="logo_border">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-4">
          <a href="/">
            <img src="<%= image_url('/assets/logo.png') %>" class="logo" alt="">
          </a>
        </div>
        <div class="col-sm-6 col-xs-8">
          <div class="logo_btn text-right">
            <a href="https://play.google.com/store/apps/details?id=bataz.com.bataz"><img src="<%= image_url('/assets/google-play-badge.png') %>" alt="google-play-badge"></a>
            <%= link_to "Sign up", new_registration_path(User), :class => "btn btn-sign_up" %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- End header section -->

  <div class="container">
    <div class="col-12">
          <h3 class="subheading">Privacy Policy</h3>
                                       <p class="paragraph">

We, Bataz Ltd., (hereinafter referred to as “Company”), having its registered office at myBataz S.A.R.L, 11, boulevard du Prince Henri, L-1724 Luxembourg, Grand-Duché de, Luxembourg, the creator of this Privacy Policy ensure our firm commitment to your privacy vis-à-vis the protection of your priceless information. In order to endow you with our uninterrupted use of services, we may collect and, in some circumstances, disclose information about you. To enhance better protection of your privacy we provide this notice explaining our information practices and the choices you can make about the way your information is collected and used.<br><br>

All visitors to www.MyBataz.com (Website) are advised to read and understand our Privacy Policy carefully, as by accessing the Website you agree to be bound by the terms and conditions of the Privacy Policy and consent to the collection, storage and use of information relating to you as provided herein.<br><br>

If you do not agree with the terms and conditions of our Privacy Policy, including in relation to the manner of collection or use of your information, please do not use or access the Site.<br><br>
If you have any questions or concerns regarding this privacy policy, you should contact our Customer Support Desk at contact@mybataz.com.<br><br>
ANY CAPITALIZED WORDS USED HENCEFORTH SHALL HAVE THE MEANING ACCORDED TO THEM UNDER THIS AGREEMENT. FURTHER, ALL HEADING USED HEREIN ARE ONLY FOR THE PURPOSE OF ARRANGING THE VARIOUS PROVISIONS OF THE AGREEMENT IN ANY MANNER. NEITHER THE USER NOR THE CREATERS OF THIS PRIVACY POLICY MAY USE THE HEADING TO INTERPRET THE PROVISIONS CONTAINED WITHIN IT IN ANY MANNER.<br><br>
	1.	Definitions:<br><br>

	a.	“We”, “Our”, and “Us” and “Company” shall mean and refer to the creators of this privacy policy.<br>
	b.	“You”, “Your”, “Yourself” and “User” shall mean and refer to natural and legal individuals who use the Website.<br>
	c.	 “Website”, shall mean and refer to www.MyBataz.com created by Bataz Ltd. “Website/Site” shall also refer to “App” and vice versa unless expressly mentioned.<br>
	d.	“Personal Information” shall mean and refer to any personally identifiable information that We may collect from You. For removal of any doubts, please refer to Clause 2.<br>
	e.	“Third Parties” refer to any website, app, company or individual apart from the User and the creator of the Website.<br><br>

	2.	Overview<br><br>
We commit to respecting your online privacy data. We further recognize your need for appropriate protection and management of any personally identifiable information ("Personal Information") you share with us. Information that is considered personal about you by us includes, but is not limited to, your name, address, email address, phone number or other contact information.<br><br>
This privacy policy also applies to data we collect from users who are not registered as members of this site, including, but not limited to, browsing behavior, pages viewed etc.<br><br>
 
	3.	Notification of Modifications and Changes to the T&amp;C and Privacy Policy<br><br>
We reserve the right to change the Terms and Privacy Policy from time to time as we deem fit, without any intimation to you, and your continued use of the site will signify your acceptance of any amendment to these terms. <br><br>
You are therefore advised to re-read the Terms of Service on a regular basis. Should it be that you do not accept any of the modifications or amendments to the Terms, you may terminate your use of this Website/App immediately.<br><br>
	4.	Information We Collect<br><br>
Our Site/App's online requisition form requires users to give us contact information (like your name, address, telephone number and email address), and demographic information (like your zip code/pin code). As a member, you are required to provide a valid email address at registration and choose a username or alias that represents your identity on our website. This information is compiled and analyzed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on the Site or not), which URL you next go to (whether this URL is on the Site or not), your computer browser information, your IP address, and other information associated with your interaction with the Site/App. We shall also access the inbuilt camera and inbuilt gallery, contacts, internet, readBing external storage, read profile and accounts of the Device that accesses our Site/App.<br><br>
We also collect and store personal information provided by you from time to time on the Site/App. We only collect and use such information from you that we consider necessary for achieving a seamless, efficient and safe experience, customized to your needs including:<br><br>
	ï	To enable the provision of services opted for by you;<br>
	ï	To communicate necessary account and product/service related information from time to time;<br>
	ï	To allow you to receive quality customer care services;<br>
	ï	To undertake necessary fraud and money laundering prevention checks, and comply with the highest security standards;<br>
	ï	To comply with applicable laws, rules and regulations; and<br>
	ï	To provide you with information and offers on services, on updates, on promotions, on related, affiliated or associated service providers and partners, that we believe would be of interest to you.<br><br>
Where any service requested by you involves a third party, such information as is reasonably necessary by the Company to carry out your service request may be shared with such third party.<br><br>
We also do use your contact information to send you offers based on your interests and prior activity. The Company may also use contact information internally to direct its efforts for product improvement, to contact you as a survey respondent, to notify you if you win any contest; and to send you promotional materials from its contest sponsors or advertisers.<br><br>
Further, you may from time to time choose to provide payment related financial information (credit card, debit card, bank account details, billing address etc.) on the Site/App. We are committed to keeping all such sensitive data/information safe at all times and ensure that such data/information is only transacted over secure Site of approved payment gateways which are digitally encrypted, and provide the highest possible degree of care available under the technology presently in use.<br><br>
The Company will not use your financial information for any purpose other than to complete a transaction with you.<br><br>
To the extent possible, we provide you the option of not divulging any specific information that you wish for us not to collect, store or use. You may also choose not to use a particular service or feature on the Site/App, and opt out of any non-essential communications from the Company.<br><br>
Further, transacting over the internet has inherent risks which can only be avoided by you following security practices yourself, such as not revealing account/login related information to any other person and informing our customer care team about any suspicious activity or where your account has/may have been compromised.<br><br>
	5.	How Information Is Collected<br>
	a.	Before or at the time of collecting personal information, we will identify the purposes for which information is being collected. <br>
	b.	We will collect and use of personal information solely with the objective of fulfilling those purposes specified by us and for other compatible purposes, unless we obtain the consent of the individual concerned or as required by law. <br>
	c.	We will only retain personal information as long as necessary for the fulfilment of those purposes. <br>
	d.	We will collect personal information by lawful and fair means and, where appropriate, with the knowledge or consent of the individual concerned. <br>
	e.	Personal data should be relevant to the purposes for which it is to be used, and, to the extent necessary for those purposes, should be accurate, complete, and up-to-date. <br>
	6.	External Links on Website<br><br>
The Website/App may include hyperlinks to other web sites or content or resources. We have no control over any websites or resources, which are provided by companies or persons other than Us. <br><br>
You acknowledge and agree that We are not responsible for the availability of any such external sites or resources, and does not endorse any advertising, products or other materials on or available from such websites or resources.<br><br>
You acknowledge and agree that We are not liable for any loss or damage which may be incurred by you as a result of the availability of those external sites or resources, or as a result of any reliance placed by you on the completeness, accuracy or existence of any advertising, products or other materials on, or available from, such websites or resources. These third-party service providers and Third-Party Sites may have their own privacy policies governing the storage and retention of your personal information that you may be subject to. We recommend that when you enter a Third-Party Site, you review the Third Party Site’s privacy policy as it relates to safeguarding your personal information. We use third-party advertising companies to serve ads when you visit the Website/App. <br><br>
	7.	Our Use of Your Information<br><br>
Your contact information is also used to contact you when necessary. We use your IP address to help diagnose problems with our server, and to administer our Website. Your IP address is also used to help identify you and to gather broad demographic information. Finally, we may use your IP address to help protect our partners and ourselves from fraud. We will continue to enhance our security procedures as new technology becomes available. We will transfer information about you if We are acquired by or merged with another company. In this event, we will notify you by email or by putting a prominent notice on the site before information about you is transferred and becomes subject to a different privacy policy.<br><br>
We may release your personal information to a third-party in order to comply with a Court Order or other similar legal procedure, or when we believe in good faith that such disclosure is necessary to comply with the law; prevent imminent physical harm or financial loss; or investigate or take action regarding illegal activities, suspected fraud, or violations of Our Terms of Use. We may disclose personally identifiable information to parties in compliance with our Copyright Policy as mentioned in the&nbsp;Terms of Use&nbsp;as we in our sole discretion believe necessary or appropriate in connection with an investigation of fraud, intellectual property infringement, piracy, or other unlawful activity. In such events, We may disclose name, address, country, phone number, email address and company name.<br><br>
	8.	Cookies<br><br>
We, and third parties with whom we partner, may use cookies, pixel tags, web beacons, mobile device IDs, SSL certificates, “flash cookies” and similar files or technologies to collect and store information in respect to your use of the Services and third party websites. A cookie is a small text file that is stored on your computer that enables us to recognize you (for example, as a registered user) when you visit our website/app, store your preferences and settings, enhance your experience by delivering content and advertising specific to your interests, perform research and analytics, track your use of our Services, and assist with security and administrative functions. Google ads may be shown in between or when pressing the back button in the Website/App. Cookies may be persistent or stored only during an individual session&nbsp;<br><br>
	a.	Most browsers are set to automatically allow cookies. Please note it may be possible to disable some (but not all) cookies through your device or browser settings, but doing so may interfere with certain functionality on the Services.<br>
	b.	Major browsers provide users with various options when it comes to cookies. Users can usually set their browsers to block all third-party cookies (which are those set by third-party companies collecting information on websites operated by other companies), block all cookies (including first-party cookies such as the ones the Company uses to collect search activity information about its users), or block specific cookies. <br>
	c.	To modify your cookie settings, please visit your browser’s help settings. You will need to opt out on each browser and each device you use to access the Services. Flash cookies operate differently than browser cookies and cannot be removed or blocked via web browser settings. By using our Services with your browser set to accept cookies you are consenting to our use of cookies in the manner described in this section.&nbsp;<br>
	d.	Third parties whose products or services are accessible or advertised through the Services, including social media services, may also use cookies or similar tools, and we advise you to check their privacy policies for information about their cookies and other practices. We do not control the practices of such partners and their privacy policies govern their interactions with you.<br><br>

	9.	Confidentiality<br><br>
You further acknowledge that the Website may contain information which is designated confidential by Us and that you shall not disclose such information without our prior written consent.<br><br>
Your information is regarded as confidential and therefore will not be divulged to any third party, unless if legally required to do so to the appropriate authorities. <br><br>
We will not sell, share, or rent your personal information to any third party or use your e-mail address for unsolicited mail. Any emails sent by us will only be in connection with the provision of agreed services.<br><br>

	10.	Our Disclosure of Your Information<br><br>
Due to the existing regulatory environment, we cannot ensure that all of your private communications and other personally identifiable information will never be disclosed in ways not otherwise described in this Privacy Policy. By way of example (without limiting and foregoing), we may be forced to disclose information to the government, law enforcement agencies or third parties. Under certain circumstances, third parties may unlawfully intercept or access transmissions or private communications, or members may abuse or misuse your information that they collect from our Website/App. Therefore, although we use industry standard practices to protect your privacy, we do not promise, and you should not expect, that your personally identifiable information or private communications would always remain private.<br><br>

As a matter of policy, we do not sell or rent any personally identifiable information about you to any third party. However, the following describes some of the ways that your personally identifiable information may be disclosed:<br><br>
	a.	External Service Providers: There may be a number of services offered by external service providers that help you use our Websites/App. If you choose to use these optional services, and in the course of doing so, disclose information to the external service providers, and/or grant them permission to collect information about you, then their use of your information is governed by their private policy.<br>
	b.	Other Corporate Entities: We share much of our data, including personally identifiable information about you, with our parent and/or subsidiaries that are committed to serving your online needs and related services, throughout the world. Such data will be shared for the sole purpose of enhancing your browsing experience and providing our services to you. To the extent that these entities have access to your information, they will treat it at least as protectively as they treat information they obtain from their other members. It is possible that We and/or its subsidiaries, or any combination of such, could merge with or be acquired by another business entity. Should such a combination occur, you should expect that we would share some or all of your information in order to continue to provide the service. You will receive notice of such event (to the extent that it occurs).<br>
	c.	Law and Order: We cooperate with law enforcement inquiries, as well as other third parties to enforce laws, such as: intellectual property rights, fraud and other rights. We can (and you authorize us to) disclose any information about you to law enforcement and other government officials as we, in our sole discretion, believe necessary or appropriate, in connection with an investigation of fraud, intellectual property infringements, or other activity that is illegal or may expose us or you to legal liability.<br><br>

	11.Accessing and Reviewing Information<br><br>
Following registration, you can review and change the information you submitted each time except your username. If you change any information we may keep track of your old information. You can change your registration information such as: name, address, city, state, zip code, country, phone number, and profile.<br><br>
We will retain in our files information you have requested to remove for certain circumstances, such as to resolve disputes, troubleshoot problems and enforce our terms and conditions. Further, such prior information is never completely removed from our databases due to technical and legal constraints, including stored 'back up' systems. Therefore, you should not expect that all of your personally identifiable information will be completely removed from our databases in response to your requests.<br><br>

	12.	Control of Your Password<br><br>
When you sign up to become a Member, you will also be asked to choose a password. You are entirely responsible for maintaining the confidentiality of your password. It is important that you protect it against unauthorized access of your account and information by choosing your password carefully, and keeping your password and computer secure by signing out after using our services.<br><br>
 You agree not to use the account, username, email address or password of another Member at any time or to disclose your password to any third party. If you choose to share this information with third parties to provide you additional services, you are responsible for all actions taken with your login information and password and therefore should review each third party's privacy policy. You are responsible for all actions taken with your login information and password, including fees. If you lose control of your password, you may lose substantial control over your personally identifiable information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately change your password. You agree to notify us immediately if you suspect any consistent unauthorized use of your account or access to your password even after changing it.<br><br>

	13.Other Information Collectors<br><br>
Except as otherwise expressly included in this Privacy Policy, this document only addresses the use and disclosure of information we collect from you. To the extent that you disclose your information to other parties, whether they are on our Websites/App or on other sites throughout the Internet, different rules may apply to their use or disclosure of the information you disclose to them. To the extent that we use third party advertisers, they adhere to their own privacy policies. Since we do not control the privacy policies of the third parties, you are subject to ask questions before you disclose your personal information to others.<br><br>

	14.	Security<br><br>
We treat data as an asset that must be protected against loss and unauthorized access. We employ many different security techniques to protect such data from unauthorized access by members inside and outside the company. We do not recommend transfer of sensitive information (such as credit card number) and bank account details via the Site/App to other Users. Users are recommended to do so offline, on the phone or via personal emails. We follow generally accepted industry standards to protect the personal information submitted to us, both during transmission and once We receive it. However, "perfect security" does not exist on the Internet. You therefore agree that any security breaches beyond the control of our standard security procedures are at your sole risk and discretion. <br><br>
	15.Disclaimer<br><br>
We cannot ensure that all of your private communications and other personal information (including sensitive information like credit card information and bank account number) will never be disclosed in ways not otherwise described in this Privacy Policy. Therefore, although we are committed to protecting your privacy, we do not promise, and you should not expect, that your personal information will always remain private. As a user of the Site/App, you understand and agree that you assume all responsibility and risk for your use of the Site/App, the internet generally, and the documents you post or access and for your conduct on and off the Site/App.&nbsp;<br><br>
	16.	 Disputes and Jurisdiction<br><br>
All disputes involving but not limited to rights conferred, compensation, refunds, and other claims through this policy will be resolved through a two-step Alternate Dispute Resolution mechanism. <br><br>
	a.	Stage 1: Mediation. In case of a dispute, the matter will first be attempted to be resolved by a sole mediator who is a neutral third party and will be selected at the mutual acceptance of a proposed mediator by both parties. Both parties may raise a name for sole arbitrator and in case both parties accept the proposed name, the said person shall be appointed as sole mediator. In any case the parties are not able to reach a consensus within two proposed mediators, the Company reserves the right to decide who the final mediator is. The decision of the mediator is not binding on both parties, however the parties in good faith will attempt to bind by the decision. <br>
	b.	Stage 2: Arbitration. In case that mediation does not yield a result suitable or preferred by any one of the parties, arbitration may follow, the award of which is binding on both parties. The Arbitration Board shall comprise three members – one appointed by each party and the third member to be nominated by the two appointed members by mutual consent. Arbitration shall be held at Mumbai. The proceedings of arbitration shall be in the English and Hindi language. The arbitrator’s award shall be final and binding on the Parties. If the dispute cannot be resolved by this two-step Alternate Dispute Resolution mechanism, it shall be referred to the courts at Mumbai.<br><br>

	17.Questions and Suggestions<br><br>
										   If you have any questions or concerns regarding this privacy policy, you should contact us by sending an e-mail to contact@mybataz.com.</p>


        </div>
    <br>
    <br>
    <br>
  </div>

  <!-- Start footer Section -->

  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright_section">
            <h1 class="Bataz_txt">Bataz is where the brand love flows.</h1>

            <%= link_to "Sign up", new_registration_path(User), :class => "btn btn-sign-up" %>

            <ul class="list-inline">
              <li><a href="https://www.instagram.com/mybataz/"> Instagram </a></li>
              <li><a href="https://twitter.com/mybataz/"> Twitter </a></li>
              <li><a href="https://www.facebook.com/mybataz/"> Facebook </a></li>
              <li><a href="mailto:social@mybataz.com?Subject=Hello%20from%20landing%20page"> Contact </a></li>
              <li><a href="/terms"> TOS </a></li>
              <li><a href="/privacy"> Privacy </a></li>
            </ul>

            <p class="copyright">© 2017 Bataz PTE</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- End footer Section -->
