 <% content_for :head do%>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
   <title>Mybataz - Terms and Condition</title>
   <meta property="description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
   <meta property="og:title" content="Mybataz - Privacy Policy">
   <meta property="og:description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
   <meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/mybataz/banners/header.jpg">
   <meta property="og:url" content="https://mybataz.com/terms">
    <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'home_page', 'data-turbolinks-track'=> true %>
    <!-- Bootstrap -->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,400,700"%>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700"%>
    
  <%end%>
    

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->




  <!-- start header section -->

  <header id="header" class="logo_border">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-xs-4">
          <a href="/">
            <img src="<%= image_url('/assets/logo.png') %>" class="logo" alt="">
          </a>
        </div>
        <div class="col-sm-6 col-xs-8">
          <div class="logo_btn text-right">
            <a href="https://play.google.com/store/apps/details?id=bataz.com.bataz"><img src="<%= image_url('/assets/google-play-badge.png') %>" alt="google-play-badge"></a>
            <%= link_to "Sign up", new_registration_path(User), :class => "btn btn-sign_up" %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- End header section -->

  <!-- Start logIn section -->

  <div class="container">
    <div class="col-12">
          <h3 class="subheading"> Terms of Service </h3>
          <p class="paragraph">
	1.	General<br>
www.MyBataz.com (hereinafter, the “Website” and/or “Mobile Application/App”) is owned and operated by Bataz Ltd., (“Company”), a company incorporated under the Companies Act, having its registered office at myBataz S.A.R.L, 11, boulevard du Prince Henri, L-1724 Luxembourg, Grand-Duché de, Luxembourg.<br><br>
 
You are advised to read and understand these Terms carefully as moving past the home page, or using any of the services shall be taken to mean that You have read and agreed to all of the policies, which constitute a legally binding agreement between you and the website. These terms are to be read along with the Privacy Policy and any other policies on the website.<br><br>

This document is an electronic record published in accordance with the provisions of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the Rules and Regulations, Privacy Policy and Terms of Service for access or usage of the website and being generated by a computer system, it does not require any physical or digital signatures.<br><br>

For the purpose of these Terms of Use, along with any amendments to the same, and wherever the context so requires 
“You”, “Your” “Yourself” or&nbsp;“User” shall mean and refer to the person visiting, accessing, browsing through and/or using the Website/App at any point in time.<br><br>
The term “We”, “Us”, “Our” shall mean and refer to the website/App and/or the Company, depending on the context.<br><br>

The headings of each section in this Agreement are only for the purpose of organising the various provisions under this Agreement in an orderly manner. These headings shall not be used by either party to interpret the provisions contained under them in any manner. Further, the headings have no legal or contractual value.<br><br>
We hold the sole right to modify the Terms of Service without prior permission from You or providing notice to You. The relationship creates on You a duty to periodically check the Terms of Service and stay updated on its requirements. If You continue to use the Website/App or avail any of its services without registration following such change, this is deemed as consent by You to the so amended policies. Your continued use of the Website/App is conditioned upon your compliance with the Terms of Service, including but not limited to compliance with the Terms of Service even after alterations, if any.<br><br>

	2.	About  Us<br><br>
MyBataz is a social media platform that helps users post information about the brands they are passionate about. The users get to interact and follow other users and brands they like. All posts on MyBataz are publicly available. MyBataz has a special buddy feature where a user can create a private chat with a group of friends and share pictures about the products they are shopping and get their friend’s inputs on the features of the product. <br><br>

	3.	Services Overview<br><br>

‘MyBataz’ website allows the users to post content about a brand or a product. The only mandatory information that must be provided is the name of the brand that the user is going to discuss about. Subject to the clauses of this document there are no other limitation on the Users authority to provide information. The Users profile shall contain all the information that he/she has posted. The page of the brand would contain user generated content for the brand and it may also contain content posted by the brand. <br><br>

	4.	Registration<br><br>
To use the services provided on the Website, it is compulsory to create an account and register yourself on the website. To create an account, you need to choose a username and password. You need to also provide certain data pertaining to your first name, last name, gender, E-mail id, password, city and country the User belongs to You must keep your account and registration details current and correct for communications related to your use of the Website. Information collected about you is subject to the Privacy Policy of the Company, which may be read as part and parcel of these Terms of Use.<br><br>
Additionally a User may sign up to the Website with his/her Facebook and/or Google Plus account. <br><br>
You are solely responsible for protecting the confidentiality of your username and password and any activity under the account will be deemed to have been done by you. In the event you provide us with false/inaccurate details or the Company has a reasonable ground to believe that false and inaccurate information has been furnished, we hold the right to permanently suspend your account.<br><br>

	5.	Eligibility<br><br>
Services on the Site/App would be available to geographies across India and the world. However, for Users availing the services on the Site/App outside India, the laws of that particular country/region where the User is located, shall apply.<br><br>

Persons who are “incompetent to contract” within the meaning of the Indian Contract Act, 1872 including minors, un-discharged insolvents etc. are not eligible to use the Site. However, if you are a minor, i.e. under the age of 18 years and over the age of 13 years, you may use the Site under the supervision of a parent or legal guardian who agrees to be bound by these Terms of Use. We reserve the right to terminate&nbsp;or refuse your registration, or refuse to permit access to the Site, if it is discovered or brought to its notice that you are a minor. <br><br>

	6.	Security<br><br>
Transactions on the Website are secure and protected. Any information entered by the User when transacting on the Website is encrypted to protect the User against unintentional disclosure to third parties. The User’s credit and debit card information is not received, stored by or retained by the Company/Website in any manner. This information is supplied by the User directly to the relevant payment gateway which is authorized to handle the information provided, and is compliant with the regulations and requirements of various banks and institutions and payment franchisees that it is associated with.<br><br>

	7.	License and Access<br><br>

The Company does not grant you a sub-license, limited or otherwise, to access and make personal use of the Site, and not to download (other than page caching) or modify it, or any portion of it, except with express written consent of the Company. You are not permitted any resale or commercial use of the Site or its contents; any collection and use of any product listings, descriptions, or prices; any derivative use of the Site or its contents; any downloading or copying of information for the benefit of another merchant; or any use of data mining, robots, or similar data gathering and extraction tools. Any portion of the Site may not be reproduced, duplicated, copied, sold, resold, visited, or otherwise exploited for any commercial purpose without express written consent of the Company. You may not frame or utilize framing techniques to enclose any trademark, logo, or other proprietary information (including images, text, page layout, or form) of the Website or of the Company and/or its affiliates without the express written consent of the Company. You may not use any meta tags or any other “hidden text” utilizing the Company’s name or trademarks without the express written consent of the Company. &nbsp;You shall not attempt to gain unauthorized access to any portion or feature of&nbsp;the Site, or any other systems or networks connected to the Site or to any server, computer, network, or to any of the services offered on or through&nbsp;the Site, by hacking, ‘password mining’ or any other illegitimate means.<br><br>

You hereby agree and undertake not to host, display, upload, modify, publish, transmit, update or share&nbsp;any information which:<br>
	a.	belongs to another person and to which you do not have any right;<br>
	b.	is grossly harmful, harassing, blasphemous, defamatory, obscene,&nbsp;pornographic, pedophilic, libelous, invasive of another’s privacy, hateful, or&nbsp;racially, ethnically objectionable, disparaging, relating or encouraging money&nbsp;laundering or gambling, or otherwise unlawful in any manner whatever; <br>
	c.	harms minors in any way;<br>
	d.	infringes any patent, trademark, copyright or other proprietary/intellectual property rights;<br>
	e.	violates any law for the time being in force;<br>
	f.	deceives or misleads the addressee about the origin of such messages communicates any information which is grossly offensive or menacing in nature; 
	g.	impersonates another person;<br>
	h.	contains software viruses or any other computer code, files or programs&nbsp;designed to interrupt, destroy or limit the functionality of any computer resource; <br>
	i.	threatens the unity, integrity, defense, security or sovereignty of India,&nbsp;friendly relations with foreign states, or public order or causes incitement to the commission of any cognizable offence or prevents investigation of any offence or&nbsp;is insulting any other nation; or <br>
	j.	is misleading or known to be false in any way.<br><br>

	8.	Communications<br><br>

By using this Website, it is deemed that you have consented to receiving calls, autodialed and/or pre-recorded message calls, e-mails, from Us at any time with the use of the telephone number and e-mail address that has been provided by you for the use of this website which are subject to the Privacy Policy. The user agrees to receive promotional communication and newsletters from the Company and its partners. <br><br>

This includes contacting you through information received through other parties.  The use of this website is also your consent to receive SMS from Us at any time we deem fit.  This consent to be contacted is for purposes that include and are not limited to clarification calls and marketing and promotional calls. The user can opt out from such communication and/or newsletters either by unsubscribing on the Website itself, or by contacting the customer services team and placing a request for unsubscribing by sending an email to contact@mybataz.com.<br><br>

You may also be contacted by Service Providers with whom we have entered into a contract in furtherance of our rights, duties and obligations under this document and all other policies followed by Us. Such contact will be made only in pursuance of such objectives, and no other calls will be made. <br><br>

The sharing of the information provided by you will be governed by the Privacy Policy and We will not give out such contact information of yours to third parties not connected with the Website. <br><br>

	9.	Payment<br><br>
There shall be no third party payment gateways for any services provided on the Website but We may provide them in the course of time. 
The following payment methods shall be available to the User:<br><br>
	a)	Domestic and international credit cards issued by banks and financial institutions that are part of the Visa, Master Card &amp; Amex Card networks;<br>
	b)	Visa &amp; Master Card Debit cards;<br>
	c)	 Net banking/Direct Debit payments from select banks in India. A list of available options will be made available at the time of ‘checkout’.
As prescribed by the financial institutions issuing the credit or debit cards affiliated with Visa / Master Card / Amex, the User will be required to submit his/her 16-digit card number, card expiry date and 3-digit CVV number (usually on the reverse of the card) while making an online transaction. The User must also have enrolled his/her card with VBV (Verified by Visa), MSC (MasterCard Secure Code) or any other applicable provider in order to complete the transaction. The User is hereby expressly made aware that his/her card statements will reflect that a payment has been made in favour of the Company.
The User is further aware that in case of third party statements, including bank and credit card statements, the merchant name may appear in an abbreviated format, and the Company has no control over the same. To successfully subscribe on the Website/App, the User is required to complete the transaction by making the payment for the services opted for. <br><br>
	10.	User Obligations<br><br>
You are a restricted user of this Website. <br><br>
	a.	You are bound not to cut, copy, distribute, modify, recreate, reverse engineer, distribute, disseminate, post, publish or create derivative works from, transfer, or sell any information or software obtained from the website. With our prior permission limited use may be allowed. For the removal of doubt, it is clarified that unlimited or wholesale reproduction, copying of the content for commercial or non-commercial purposes and unwarranted modification of data and information within the content of the Website is not permitted.<br>
	b.	You agree not to access (or attempt to access) the Website/App and/or the materials or Services by any means other than through the interface that is provided by the website. The use of deep-link, robot, spider or other automatic device, program, algorithm or methodology, or any similar or equivalent manual process, to access, acquire, copy or monitor any portion of the Website/App or Content, or in any way reproduce or circumvent the navigational structure or presentation of the Website/App, materials or any Content, to obtain or attempt to obtain any materials, documents or information through any means not specifically made available through the Website/App. You acknowledge and agree that by accessing or using the Website/App or Services, You may be exposed to content from other users that You may consider offensive, indecent or otherwise objectionable. We disclaim all liabilities arising in relation to such offensive content on the Website/App. Further, You may report such offensive content.<br>
	c.	In places where this website allows you to post or upload data/information, You undertake to ensure that such material is not offensive and in accordance with applicable laws. Further, You undertake not to: <br>
	i.	Abuse, harass, threaten, defame, disillusion, erode, abrogate, demean or otherwise violate the legal rights of others;<br>
	ii.	Engage in any activity that interferes with or disrupts access to the Website/App or the Services (or the servers and networks which are connected to the Website/App);<br>
	iii.	Impersonate any person or entity, or falsely state or otherwise misrepresent Your affiliation with a person or entity;<br>
	iv.	Publish, post, disseminate, any information which is grossly harmful, harassing, blasphemous, defamatory, obscene,&nbsp;pornographic, pedophilic, libelous, invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or encouraging money laundering or gambling, or otherwise unlawful in any manner whatever; or unlawfully threatening or unlawfully harassing including but not limited to "indecent representation of women" within the meaning of the Indecent Representation of Women (Prohibition) Act, 1986;<br>
	v.	Post any file that infringes the copyright, patent or trademark of other legal entities; <br>
	vi.	Upload or distribute files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of the Website or another's computer;<br>
	vii.	Download any file posted by another user that you know, or reasonably should know, cannot be legally distributed in such manner;<br>
	viii.	Probe, scan or test the vulnerability of the Website/App or any network connected to the Website, nor breach the security or authentication measures on the Website/App or any network connected to the Website/App. You may not reverse look-up, trace or seek to trace any information on any other user, of or visitor to, the Website/App, or any other customer of the website/app, including any website/app Account not owned by You, to its source, or exploit the Website/App or Service or information made available or offered by or through the Website/App, in any way whether or not the purpose is to reveal any information, including but not limited to personal identification information, other than Your own information, as provided for by the Website/App;<br>
	ix.	Disrupt or interfere with the security of, or otherwise cause harm to, the Website/App, system resources, accounts, passwords, servers or networks connected to or accessible through the Website or any affiliated or linked sites;<br>
	x.	Collect or store data about other users in connection with the prohibited conduct and activities set forth in this Section;<br>
	xi.	Use the Website/App or any material or Content for any purpose that is unlawful or prohibited by these Terms of Service, or to solicit the performance of any illegal activity or other activity which infringes the rights of this website or other third parties;<br>
	xii.	Violate any code of conduct or other guidelines, which may be applicable for or to any particular Service;<br>
	xiii.	Violate any applicable laws or regulations for the time being in force within or outside India;<br>
	xiv.	Violate the Terms of Service including but not limited to any applicable Additional Terms of the Website/App contained herein or elsewhere;
	xv.	Violate any code of conduct or other guidelines, which may be applicable for or to any particular Service; <br>
	xvi.	Threaten the unity, integrity, defence, security or sovereignty of India, friendly relations with foreign states, or public order or cause incitement to the commission of any cognizable offence or prevent investigation of any offence or is insulting any other nation;<br>
	xvii.	Publish, post, disseminate information that is false, inaccurate or misleading; violate any applicable laws or regulations for the time being in force in or outside India; <br>
	xviii.	Directly or indirectly, offer, attempt to offer, trade or attempt to&nbsp;trade in any item, the dealing of which is prohibited or restricted in any manner under the provisions of any applicable law, rule, regulation or guideline for the time being in force;<br>
	xix.	Create liability for Us or cause Us to lose (in whole or in part) the services of Our internet service provider ("ISPs") or other suppliers.
You shall not engage in advertising to, or in solicitation of, other Users of the Website/App to buy or sell any products or services, including, but not limited to, products or services related to that being displayed on the Website/App or related to us. You may not transmit any chain letters or unsolicited commercial or junk email to other Users via the Website/App. It shall be a violation of these Terms of Service to use any information obtained from the Website/App in order to harass, abuse, or harm another person, or in order to contact, advertise to, solicit, or sell to another person other than Us without Our prior explicit consent. We can (and You hereby expressly authorize Us to) disclose any information about You to law enforcement or other government officials, as we, in our sole discretion, believe it necessary or appropriate in connection with the investigation and/or resolution of possible crimes, especially those that may involve personal injury. In order to protect Our Users from such advertising or solicitation, We reserve the right to restrict the number of messages or emails which a user may send to other Users in any 24-hour period which We deem appropriate in our sole discretion. You understand that We have the right at all times to disclose any information (including the identity of the persons providing information or materials on the Website/App) as necessary to satisfy any law, regulation or valid governmental request. This may include, without limitation, disclosure of the information in connection with investigation of alleged illegal activity or solicitation of illegal activity or in response to a lawful court order or subpoena.
We have no obligation to monitor the materials posted on the Website/App. We shall have the right to remove or edit any content that in its sole discretion violates, or is alleged to violate, any applicable law or either the spirit or letter of these Terms of Service. Notwithstanding this right, YOU REMAIN SOLELY RESPONSIBLE FOR THE CONTENT OF THE MATERIALS YOU POST ON THE WEBSITE AND IN YOUR PRIVATE MESSAGES. In no event shall We assume or have any responsibility or liability for any Content posted or for any claims, damages or losses resulting from the use of Content and/or appearance of Content on the Website/App. You hereby represent and warrant that You have all necessary rights in and to all Content which You provide and all information it contains and that such Content shall not infringe any proprietary or other rights of third parties or contain any libellous, tortuous, or otherwise unlawful information.<br><br>
	11.	Copyright and Trademark<br><br>
The Company, its suppliers and licensors expressly reserve all intellectual property rights in all text, programs, products, processes, technology, images, content and other materials which appear on the Site/App. Access to or use of the Site/App does not confer and should not be considered as conferring upon anyone any license to the Company or any third party’s intellectual property rights. All rights, including copyright, in and to the Site are owned by or licensed to the Company. Any use of the Site/App or its contents, including copying or storing it or them in whole or part is prohibited without the permission of the Company. <br><br>

You may not modify, distribute or re-post anything on the Site/App for any purpose. The names and logos and all related product and service names, design marks and slogans are the trademarks/service marks of the Company, its affiliates, its partners or its suppliers/service providers. All other marks are the property of their respective owners. No trademark or service mark license is granted in connection with the materials contained on the Site/App. Access to or use of the Site/App does not authorize anyone to use any name, logo or mark in any manner. References on the Site/App to any names, marks, products or services of third parties or hypertext links to third party sites or information are provided solely as a convenience to you and do not in any way constitute or imply the Company’s endorsement, sponsorship or recommendation of the third party, the information, its product or services. <br><br>
The Company is not responsible for the content of any third party sites and does not make any representations regarding the content or accuracy of material on such sites. If you decide to access a link of any third party websites, you do so entirely at your own risk and expense. <br><br>
	12.	Disclaimer of Warranties and Liabilities<br><br>
YOU EXPRESSLY UNDERSTAND AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW:<br><br>
THE WEBSITE/APP, SERVICES AND OTHER MATERIALS ARE PROVIDED BY THIS WEBSITE/APP IS ON AN "AS IS" BASIS WITHOUT WARRANTY OF ANY KIND, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. WITHOUT LIMITING THE FOREGOING, WE MAKE NO WARRANTY THAT <br><br>
	a.	YOUR REQUIREMENTS WILL BE MET OR THAT SERVICES PROVIDED WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; <br>
	b.	MATERIALS, INFORMATION AND RESULTS OBTAINED WILL BE EFFECTIVE, ACCURATE OR RELIABLE; <br>
	c.	ANY ERRORS OR DEFECTS IN THE WEBSITE, SERVICES OR OTHER MATERIALS WILL BE CORRECTED.<br>
TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE WILL HAVE NO LIABILITY RELATED TO USER CONTENT ARISING UNDER INTELLECTUAL PROPERTY RIGHTS, LIBEL, PRIVACY, PUBLICITY, OBSCENITY OR OTHER LAWS. WE ALSO DISCLAIM ALL LIABILITY WITH RESPECT TO THE MISUSE, LOSS, MODIFICATION OR UNAVAILABILITY OF ANY USER CONTENT.<br><br>
THE USER UNDERSTANDS AND AGREES THAT ANY MATERIAL OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE WEBSITE IS DONE ENTIRELY AT HIS/HER OWN DISCRETION AND RISK AND HE/SHE WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO HIS/HER COMPUTER SYSTEMS OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL OR DATA. WE ARE NOT RESPONSIBLE FOR ANY TYPOGRAPHICAL ERROR LEADING TO AN INVALID COUPON. WE ACCEPT NO LIABILITY FOR ANY ERRORS OR OMISSIONS, WITH RESPECT TO ANY INFORMATION PROVIDED TO YOU WHETHER ON BEHALF OF ITSELF OR THIRD PARTIES.<br><br>
WE SHALL NOT BE LIABLE FOR ANY THIRD PARTY PRODUCT OR SERVICES. THE ADVERTISEMENT AVAILABLE ON E-MAIL OR WEBSITE/APP WITH RESPECT TO THE THIRD PARTY WEBSITE OR THE PRODUCTS AND SERVICES ARE FOR INFORMATION PURPOSE ONLY.<br><br>
	13.	Indemnification and Limitation of Liability<br><br>
YOU AGREE TO INDEMNIFY, DEFEND AND HOLD HARMLESS THIS WEBSITE/APP/COMPANY INCLUDING BUT NOT LIMITED TO ITS AFFILIATE VENDORS, AGENTS AND EMPLOYEES FROM AND AGAINST ANY AND ALL LOSSES, LIABILITIES, CLAIMS, DAMAGES, DEMANDS, COSTS AND EXPENSES (INCLUDING LEGAL FEES AND DISBURSEMENTS IN CONNECTION THEREWITH AND INTEREST CHARGEABLE THEREON) ASSERTED AGAINST OR INCURRED BY US THAT ARISE OUT OF, RESULT FROM, OR MAY BE PAYABLE BY VIRTUE OF, ANY BREACH OR NON-PERFORMANCE OF ANY REPRESENTATION, WARRANTY, COVENANT OR AGREEMENT MADE OR OBLIGATION TO BE PERFORMED BY YOU PURSUANT TO THESE TERMS OF SERVICE. FURTHER, YOU AGREE TO HOLD US HARMLESS AGAINST ANY CLAIMS MADE BY ANY THIRD PARTY DUE TO, OR ARISING OUT OF, OR IN CONNECTION WITH, YOUR USE OF THE WEBSITE, ANY CLAIM THAT YOUR MATERIAL CAUSED DAMAGE TO A THIRD PARTY, YOUR VIOLATION OF THE TERMS OF SERVICE, OR YOUR VIOLATION OF ANY RIGHTS OF ANOTHER, INCLUDING ANY INTELLECTUAL PROPERTY RIGHTS.<br><br>
IN NO EVENT SHALL WE, OUR OFFICERS, DIRECTORS, EMPLOYEES, PARTNERS OR SUPPLIERS BE LIABLE TO YOU, THE VENDOR OR ANY THIRD PARTY FOR ANY SPECIAL, INCIDENTAL, INDIRECT, CONSEQUENTIAL OR PUNITIVE DAMAGES WHATSOEVER, INCLUDING THOSE RESULTING FROM LOSS OF USE, DATA OR PROFITS, WHETHER OR NOT FORESEEABLE OR WHETHER OR NOT WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, OR BASED ON ANY THEORY OF LIABILITY, INCLUDING BREACH OF CONTRACT OR WARRANTY, NEGLIGENCE OR OTHER TORTIOUS ACTION, OR ANY OTHER CLAIM ARISING OUT OF OR IN CONNECTION WITH YOUR USE OF OR ACCESS TO THE WEBSITE/APP, SERVICES OR MATERIALS.<br><br>
THE LIMITATIONS AND EXCLUSIONS IN THIS SECTION APPLY TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW.<br><br>
	14.	Termination<br><br>
This User Agreement is effective unless and until terminated by either you or the Company. You may terminate this User Agreement at any time, provided that you discontinue any further use of the Website/App. The Company may terminate this User Agreement at any time and may do so immediately without notice, and accordingly deny you access to the Site/App.<br><br>
Such termination will be without any liability to the Company. The Company’s right to any Comments and to be indemnified pursuant to the terms hereof, shall survive any termination of this User Agreement. Any such termination of the User Agreement shall not cancel your obligation to pay for product(s) already ordered from the Site/App or affect any liability that may have arisen under the User Agreement prior to the date of termination. <br><br>
	15.	Disputes and Jurisdiction<br><br>
All disputes involving but not limited to rights conferred, compensation, refunds, and other claims will be resolved through a two-step Alternate Dispute Resolution mechanism. <br><br>
	a.	Stage 1: Mediation. In case of a dispute, the matter will first be attempted to be resolved by a sole mediator who is a neutral third party and will be selected at the mutual acceptance of a proposed mediator by both parties. Both parties may raise a name for the sole mediator and in the case both parties accept the proposed name, the said person shall be appointed as sole mediator. In case the parties are not able to reach a consensus within two proposed mediators, the Company reserves the right to decide who the final mediator is. The decision of the mediator is not binding on both parties. <br>
	b.	Stage 2: Arbitration. In case that mediation does not yield a result suitable or preferred by any one of the parties, arbitration may follow, the award of which is binding on both parties. The Arbitration Board shall comprise three members – one appointed by each party and the third member to be nominated by the two appointed members by mutual consent. Arbitration shall be held at Bangalore. The proceedings of arbitration shall be in the English and Hindi language. The arbitrator’s award shall be final and binding on the Parties.<br><br>
If the dispute cannot be resolved by this two-step Alternate Dispute Resolution mechanism, it shall be referred to the courts at Bangalore.<br><br>
	16.	Privacy<br><br>
We encourage you to read the&nbsp;Privacy Policy and to use the information it contains to make informed decisions regarding Your personal information. Please also note that certain information, statements, data and content (such as but not limited to photographs) which You provide on the Website/App are likely to reveal Your gender, ethnic origin, nationality, age, and/or other personal information about You.&nbsp;You acknowledge and agree that your submission of such information is voluntary on Your part.&nbsp;Further, You acknowledge, consent and agree that we may access, preserve, and disclose information You provide to Us at any stage during Your use of the Website/App. Disclosures of information to Third Parties are further addressed in Our&nbsp;Privacy Policy.<br><br>
	17.	Miscellaneous Provisions<br><br>

	a.	Entire Agreement: The terms and conditions set forth in this agreement and any additional or different terms expressly agreed by Client and Service vendor shall constitute the entire agreement and understanding of Client and Service vendor with respect to each Service Contract and shall cancel and supersede any other prior or contemporaneous discussions, agreements, representations, warranties, and/or other communications between them. Notwithstanding the foregoing, the Client and Service vendor shall always remain subject to the terms of Our user Agreement.<br>
	b.	Waiver: The failure of either party at any time to require performance of any provision of this Agreement in no manner shall affect such party's right at a later time to enforce the same. No waiver by either party of any breach of this Agreement, whether by conduct or otherwise, in any one or more instances, shall be deemed to be, or construed as, a further or continuing waiver of any other such breach, or a waiver of any other breach of this Agreement. <br>
	c.	Severability: If any provision of this Agreement shall to any extent be held invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions of this Agreement shall in no way be affected or impaired thereby and each such provision of this Agreement shall be valid and enforceable to the fullest extent permitted by law. In such a case, this Agreement shall be reformed to the minimum extent necessary to correct any invalidity, illegality or unenforceability, while preserving to the maximum extent the rights and commercial expectations of the parties hereto, as expressed herein.<br><br>

	18.	Contact Us<br><br>
			  If you have any questions about this Agreement, the practices of, or your experience with the Service, you can e-mail us at contact@mybataz.com.</p>

        </div>
        <br>
        <br>
        <br>
  </div>

  <!-- End logIn section -->



  <!-- Start footer Section -->

  <footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright_section">
            <h1 class="Bataz_txt">Bataz is where the brand love flows.</h1>

            <%= link_to "Sign up", new_registration_path(User), :class => "btn btn-sign-up" %>

            <ul class="list-inline">
              <li><a href="https://www.instagram.com/mybataz/"> Instagram </a></li>
              <li><a href="https://twitter.com/mybataz/"> Twitter </a></li>
              <li><a href="https://www.facebook.com/mybataz/"> Facebook </a></li>
              <li><a href="mailto:social@mybataz.com?Subject=Hello%20from%20landing%20page"> Contact </a></li>
              <li><a href="/terms"> TOS </a></li>
              <li><a href="/privacy"> Privacy </a></li>
            </ul>

            <p class="copyright">© 2017 Bataz PTE</p>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <!-- End footer Section -->
