<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    
    <div class="field">
      <%= f.text_field :fname, placeholder: 'Name', autofocus: true, :required => true, class: "form_field_reg", value: resource.full_name%>
    </div>

    <div class="field">
      <%= f.label :gender ,class: "label_field"%>
      <%= f.select :gender, ['Male', 'Female'],{prompt: 'Select',:required => true},{ class: "form_field_reg spinner_style"} %>
    </div>

    <div class="field" style="position: relative;">
      <%= f.date_field :dob, placeholder: "Date of Birth", class: "datepicker form_field_reg spinner_style" , :id=>"dob", style: "width: 100%;" %>
      </div>
      <script type="text/javascript"> 
       var datePicker = function(){
         var dob_picker = $('.datepicker').pickadate({
          selectYears: 40,
          selectMonths: true,
          max:true,
          today: '',
          formatSubmit: "yyyy-mm-dd",
          hiddenName: true,
          closeOnSelect: true,
          closeOnClear: true
        });
        var user_dob = document.getElementById("dob").value;
        var picker = dob_picker.pickadate('picker');
        var date = new Date();
        if( user_dob != ""){
          var split_date = user_dob.split("-");
          var year = split_date[0];
          var js_adjusted_month = split_date[1]-1;
          var day = split_date[2];
          picker.set('select',[year,js_adjusted_month,day])
        }
        else
          picker.set('highlight', ["1985", date.getMonth(), date.getDate()]);
      };
      document.addEventListener("turbolinks:before-visit", datePicker);
      $(document).ready(datePicker);
    </script>
    <div class="field">
    <% if action_name == 'edit' %>
      <% @makeReadOnly = true %>
    <% else %>
      <% @makeReadOnly = false %>
    <% end %>
      <%= f.email_field :email, placeholder: 'Email', autofocus: true, :required => true , class: "form_field_reg" , :readonly => @makeReadOnly%>
    </div>

    <% if action_name == 'new' %>
      <div class="field">
        <% if @minimum_password_length %>
        <% @hint = 'Password ('+@minimum_password_length.to_s+" characters minimum)" %>
        <% else %>
        <% @hint = 'Password' %>
        <% end %>
        <%= f.password_field :password, placeholder: @hint, autocomplete: "off", :required => true, class: "form_field_reg" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, placeholder: 'Password Confirmation', autocomplete: "off",:required => true , class: "form_field_reg"%>
      </div>
  <% end %>

    <div class="field">
      <%= f.text_field :city, autofocus: true, placeholder: 'City', class: "form_field_reg"%>
    </div>

    <div class="field">
      <%= f.label :country, class: "label_field"%>
      <%= f.select :country_id, Country.all.collect {|c| [c.name, c.id]} ,{prompt: 'Select'}, {class: "form_field_reg spinner_style"}%>
    </div>
    <% if action_name == 'new' %>
      <div class="field">
        <%= f.text_field :registration_code, autofocus: true,placeholder: 'Registration Code',class: "form_field_reg"%>
      </div>
    <% end %>
    <br />
    <div class="actions button-center">
      <% if action_name == 'new' %>
        <%  @btnText = 'Sign up' %>
      <% else %>
        <% @btnText = 'Submit' %>
      <% end %>
      <%= f.submit @btnText, class: 'log_in_button' %>
    </div>
<% end %>