<% content_for :head do%>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta content="Webflow" name="generator">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>bataz style icon</title>

<%= stylesheet_link_tag 'home_page/normalize.css'%>
<%= stylesheet_link_tag 'home_page/webflow.css'%>
<%= stylesheet_link_tag 'home_page/bataz-style-icon.webflow.css'%>





<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
<script type="text/javascript">WebFont.load({  google: {    families: ["Muli:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic"]  }});</script>
<!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
<script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
<link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
<link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">

<%end%>
<div class="body-font-weight">
<div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
  <div class="w-container"><a href="#" class="brand w-nav-brand"><img src="<%= image_url('logo-white.png')%>" width="120" class="image"></a>
    <nav role="navigation" class="w-nav-menu"><a href="#" class="nav-link w-nav-link">Home</a><a href="#" class="nav-link w-nav-link">About</a><a href="#" class="nav-link w-nav-link">Contact</a></nav>
    <div class="w-nav-button">
      <div class="w-icon-nav-menu"></div>
    </div>
  </div>
</div>
<div class="hero-section">
  <div class="hero w-container">
    <div class="sign-up-transp-box w-hidden-tiny w-clearfix">
      <div class="signup-box w-hidden-tiny">
        <h1 class="hero-signup-heading">Sign up now!</h1>
        <div class="form-block w-form">
          <%= form_for(User.new, as: :user, url: registration_path(:user), :html=> {class: "form", id: "email-form"}) do |f| %> 
                  <label for="name" class="field-label-2">Name:</label>
                  <%= f.text_field :fname, class: "text-field w-input", placeholder: "Enter your name", id: "email", required: true %>
                  <label for="email" class="field-label">Email Address:</label>
                  <%= f.email_field :email, class: "text-field w-input", placeholder: "Enter your email", required: true %>

                 <%= f.password_field :password, placeholder: "Password", class: "text-field w-input", required: true %>                

               <%= f.hidden_field :bataz_icon_user, value: true%>
               <div class="login-text">Have an account? <a href="https://mybataz.com/users/sign_in" class="link-white">Log in</a>

                <%= f.submit "Sign Up", class: "signup-button w-button" ,'data-wait' => "Please wait..." %>
              </div>
          <% end %>
            <%= link_to omniauth_authorize_path(resource_name, 'facebook') do %>
                <img src="<%= image_url("continue-with-fb.png")%>" sizes="(max-width: 479px) 100vw, 200px" class="image-2">
              <% end %>
            <div class="sign-up-disclaimer">By signing up, you confirm that you are at least 16 years old and you agree to terms and conditions.</div>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div><img src="<%= image_url('BSIOTY-mnemonic-2017-18-03.png') %>" width="200" sizes="(max-width: 479px) 48vw, 200px" class="image-3">
    <h1 class="heading">Show off your brand love and win mega prizes.</h1>
    <div class="sign-up-transp-box w-hidden-main w-hidden-medium w-hidden-small w-clearfix">
      <div class="signup-box w-hidden-main w-hidden-medium w-hidden-small">
        <h1 class="hero-signup-heading">Sign up now!</h1>
        <div class="form-block w-form">
          <%= form_for(User.new, as: :user, url: registration_path(:user), :html=> {class: "form", id: "email-form"}) do |f| %> 
                  <label for="name" class="field-label-2">Name:</label>
                  <%= f.text_field :fname, class: "text-field w-input", placeholder: "Enter your name", id: "email", required: true %>
                  <label for="email" class="field-label">Email Address:</label>
                  <%= f.email_field :email, class: "text-field w-input", placeholder: "Enter your email", required: true %>

                 <%= f.password_field :password, placeholder: "Password", class: "text-field w-input", required: true %>                

               <%= f.hidden_field :bataz_icon_user, value: true%>
               <div class="login-text">Have an account? <a href="https://mybataz.com/users/sign_in" class="link-white">Log in</a>

                <%= f.submit "Sign Up", class: "signup-button w-button" ,'data-wait' => "Please wait..." %>
              </div>
          <% end %>
            <%= link_to omniauth_authorize_path(resource_name, 'facebook') do %>
                <img src="<%= image_url("continue-with-fb.png")%>" sizes="(max-width: 479px) 100vw, 200px" class="image-2">
              <% end %>
            <div class="sign-up-disclaimer">By signing up, you confirm that you are at least 16 years old and you agree to terms and conditions.</div>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="div-block"></div>
    <h1 class="main-header">Show off your brand addiction and win mega prizes.</h1>
    <div class="text-block">Show off your brand addiction and win mega prizes.</div>
  </div>
</div>
<div class="rules-section">
  <div class="rules-div w-container">
    <div class="header-section-divider"></div>
    <div>
      <h2 class="contest-header">Contest Rules &amp; Regulations</h2>
    </div>
    <div class="contest-section-divider"></div>
    <div class="centre-it">
      <div data-delay="250" class="dropdown-accordian w-dropdown">
        <div class="dropdown-toggle w-clearfix w-dropdown-toggle">
          <div class="number-div-block">
            <div class="number-text-block">1</div>
          </div>
          <div class="dropdown-icon w-icon-dropdown-toggle"></div>
          <div class="accordian-title">How do I start?</div>
        </div>
        <nav class="accordion-dropdown-list w-dropdown-list">
          <div class="accordion-div-block">
            <div class="accordion-text-block">Participation in this contest is a walk in the park, all you have to do are the following:</div>
            <ul class="unordered-list">
              <li class="accordian-list-item">Signup with MyBataz </li>
              <li class="accordian-list-item">Download MyBataz app from Google Play Store
              </li>
              <li class="accordian-list-item">Start photo blogging on the platform, tagging your brand/s</li>
            </ul>
            <div class="accordion-text-block">Simple isn&#x27;t it?</div>
          </div>
        </nav>
      </div>
      <div data-delay="250" class="dropdown-accordian---black w-dropdown">
        <div class="dropdown-toggle-two w-clearfix w-dropdown-toggle">
          <div class="number-div-block">
            <div class="number-text-block">2</div>
          </div>
          <div class="dropdown-icon w-icon-dropdown-toggle"></div>
          <div class="accordian-title">What do I need to do?</div>
        </div>
        <nav class="accordion-dropdown-list w-dropdown-list">
          <div class="accordion-div-block">
            <ul class="another-list">
              <li class="accordian-list-item">You get Brand and Lifestyle points for every post you create and for every engagement you make</li>
              <li class="accordian-list-item">Gather as many points as possible...</li>
              <li class="accordian-list-item">Participants with maximum points get a chance to WIN the MEGA prize</li>
              <li class="accordian-list-item">Contest closes on 1st February 2018</li>
            </ul>
          </div>
        </nav>
      </div>
      <div data-delay="250" class="dropdown-accordian w-dropdown">
        <div class="dropdown-toggle w-clearfix w-dropdown-toggle">
          <div class="number-div-block"><img src="<%= image_url("rewards.png")%>" class="number-image"></div>
          <div class="dropdown-icon w-icon-dropdown-toggle"></div>
          <div class="accordian-title">What can I win?</div>
        </div>
        <nav class="accordion-dropdown-list w-dropdown-list">
          <div class="accordion-div-block">
            <div class="accordian-list-item"><strong class="accordion-highlights-text">Weekly Incentives</strong> <br>Get weekly special prizes – All you have to do is:</div>
            <ul>
              <li class="accordian-list-item">Create posts covering atleast 5 brands</li>
              <li class="accordian-list-item">Follow atleast 10 other brands</li>
              <li class="accordian-list-item">Comment on posts of others covering atleast 10 brands</li>
              <li class="accordian-list-item">Comment/Share on atleast 2 blogs on our blog page – <strong><a href="http://www.blog.mybataz.com" class="accordion-highlights-text" style="text-decoration: underline; color: #bf0000;">www.blog.mybataz.com</a></strong></li>
              <li class="accordian-list-item">Invite atleast 5 friends onboard MyBataz</li>
            </ul>
            <div class="accordian-list-item"><strong class="accordion-highlights-text">Mega MyBataz Icons</strong><br>Participants, a Male and a Female with highest Brand and LifeStyle scores gathered till 1st of February, will be declared as ‘MyBataz Icons’ and each win <strong class="accordion-highlights-text">Rs. 50,000</strong>. 2nd Prize - <strong class="accordion-highlights-text">Rs. 30,000</strong> (each for Male and Female) 3rd, 4th and 5th Prizes - <strong class="accordion-highlights-text">Rs. 10,000</strong> (each for Male and Female)</div>
          </div>
        </nav>
      </div>
      <div data-delay="250" class="dropdown-accordian---black w-dropdown">
        <div class="dropdown-toggle-two w-dropdown-toggle">
          <div class="dropdown-icon-two w-icon-dropdown-toggle"></div>
          <div class="accordian-title-two">Contest rules</div>
        </div>
        <nav class="accordion-dropdown-list w-dropdown-list">
          <div class="accordion-div-block">
            <ul class="accordian-list-item">
              <li>Contest open to Indian citizens only</li>
              <li>There is no cut of date to join the contest, anybody can join any time</li>
              <li>Contestants’ posts qualify for points only if posts are tagged with #BatazStyleIcon, along with any one of the following - #BatazPartyWear, #SportsWear , #StreetWear, #EthnicWear</li>
              <li>Posts must have photos of your own; no photos owned by third parties or downloaded (FREE or PAID) from the internet are allowed</li>
              <li>Minimum of 75 brand + lifestyle points per week to be gathered</li>
              <li>To qualify for the rewards (both for weekly and grand final), at least one post should attract 40 engagements ( likes &amp; comments ) in that week.</li>
              <li>Follow at least 10 MyBataz members and 10 brands</li>
              <li>Posts will be deleted if they are illegal or prohibited and participants shall be removed from the platform without warning if found to be posting such contents, including –</li>
            </ul>
            <ul class="accordion-unordered-list">
              <li>Images/content of real or simulated violence, criminal activity or accidents from video clips, games or films</li>
              <li>Sexually explicit content</li>
              <li>Images of child sexual abuse</li>
              <li>Content that advocates the doing of a terrorist act</li>
              <li>Content instructing or promoting crime or violence</li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container w-container">
    <h3 class="slider-section-text">Register now to participate in the hunt for India&#x27;s biggest Style Icon!</h3>
    <div data-delay="2000" data-animation="slide" data-autoplay="1" data-duration="250" data-infinite="1" class="multi-slider w-slider">
      <div class="mask w-slider-mask">
        <div class="slide w-slide"><img src="<%=image_url('posts-street.jpg')%>" sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 202.640625px, 273.296875px"></div>
        <div class="slide w-slide"><img src="<%=image_url('posts-ethnic.jpg')%>" sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 202.640625px, 273.296875px"></div>
        <div class="slide w-slide"><img src="<%=image_url('posts-formal.jpg')%>" sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 202.640625px, 273.296875px"></div>
        <div class="slide w-slide"><img src="<%= image_url("posts-lotd.jpg")%>" sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 202.640625px, 273.296875px"></div>
        <div class="slide w-slide"><img src="<%= image_url("posts-sports.jpg")%>" sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 202.640625px, 273.296875px"></div>
        <div class="slide w-slide"><img src="<%= image_url("posts-ethnic-male.jpg")%>" sizes="(max-width: 479px) 100vw, (max-width: 767px) 40vw, (max-width: 991px) 202.640625px, 273.296875px"></div>
      </div>
      <div class="w-slider-arrow-left">
        <div class="arrow w-icon-slider-left"></div>
      </div>
      <div class="w-slider-arrow-right">
        <div class="arrow w-icon-slider-right"></div>
      </div>
      <div class="slide-nav w-slider-nav w-round"></div>
    </div>
  </div><a href="#" class="signup-button w-button">Sign up</a></div>
  <div class="footer-section">
    <div class="w-container">
      <h3 class="footer-text"><strong class="footer-links"><a href="https://www.instagram.com/mybataz/" class="footer-links">Instagram</a></strong> <strong class="footer-links"><a href="https://twitter.com/mybataz/" class="footer-links">Twitter</a></strong> <strong class="footer-links"><a href="https://www.facebook.com/mybataz/" class="footer-links">Facebook<br></a></strong> <strong class="footer-links"><a href="mailto:social@mybataz.com?subject=Style%20Icon%20Landing%20Page" class="footer-links">Contact</a></strong> <strong class="footer-links"><a href="https://mybataz.com/terms" class="footer-links">TOS</a></strong><a href="https://mybataz.com/privacy" class="footer-links">Privacy<br></a><strong class="copyright">© 2017 Bataz PTE</strong></h3>
    </div>
  </div>
</div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
  <%= javascript_include_tag "home_page/webflow.js" %>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<!-- </body>
</html> -->