<div class="logo-center">
    <img src=<%= asset_path('login_logo.png') %> , height="120px;", class="settings_page_icon" />
</div>
<div class="post mock-outer form_common">
  <%= link_to "Back", :root %>
    <h2>Edit Profile</h2>
      <%= render 'form' %>
      <%= render "devise/shared/links" %>
</div>
