<%- if controller_name != 'sessions' && (controller_name == "registrations" && action_name != "edit") %>
  <div  class="login_text">
  <%= link_to new_session_path(resource_name) do%>
  	Have an account? <span>Log in</span>
  <br />
  <%end -%>
  </div>
<% end -%>

<!--
<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>
-->

<!--

<%- if devise_mapping.omniauthable? && (controller_name == "registrations" && action_name != "edit") %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to omniauth_authorize_path(resource_name, provider) do %>
     <div class="login_text">
    	Sign in with <%= OmniAuth::Utils.camelize(provider) %>
    <br />
    </div>
    <% end -%>
  <% end -%>
<% end -%>
-->


<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if (controller_name == "registrations" && action_name == "edit") %>
  <div class="login_text">
    <button id="signOut" class="sign-out-button" type="submit" onClick="eraseCookie();">
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'sign-out-text' %>
    </button>
  </div>
<% end -%>

<script type="text/javascript">

  /*function getCookie(name) {
    var name = name + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
        // console.log(decodedCookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
                // return c.substring(name.length, c.length);
        }
    }
  }*/

</script>
