<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <!--[if !mso]><!-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <!--<![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title></title>
  <style type="text/css">
    * {
      -webkit-font-smoothing: antialiased;
    }

    body {
      Margin: 0;
      padding: 0;
      min-width: 100%;
      font-family: Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      mso-line-height-rule: exactly;
    }

    table {
      border-spacing: 0;
      color: #333333;
      font-family: Arial, sans-serif;
    }

    img {
      border: 0;
    }

    .wrapper {
      width: 100%;
      table-layout: fixed;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
    }

    .webkit {
      max-width: 600px;
    }

    .outer {
      Margin: 0 auto;
      width: 100%;
      max-width: 600px;
    }

    .full-width-image img {
      width: 100%;
      max-width: 600px;
      height: auto;
    }

    .inner {
      padding: 10px;
    }

    p {
      Margin: 0;
      padding-bottom: 10px;
    }

    .h1 {
      font-size: 21px;
      font-weight: bold;
      Margin-top: 15px;
      Margin-bottom: 5px;
      font-family: Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .h2 {
      font-size: 18px;
      font-weight: bold;
      Margin-top: 10px;
      Margin-bottom: 5px;
      font-family: Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .one-column .contents {
      text-align: left;
      font-family: Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .one-column p {
      font-size: 14px;
      Margin-bottom: 10px;
      font-family: Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
    }

    .two-column {
      text-align: center;
      font-size: 0;
    }

    .two-column .column {
      width: 100%;
      max-width: 300px;
      display: inline-block;
      vertical-align: top;
    }

    .contents {
      width: 100%;
    }

    .two-column .contents {
      font-size: 14px;
      text-align: left;
    }

    .two-column img {
      width: 100%;
      max-width: 280px;
      height: auto;
    }

    .two-column .text {
      padding-top: 10px;
    }

    .three-column {
      text-align: center;
      font-size: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .three-column .column {
      width: 100%;
      max-width: 200px;
      display: inline-block;
      vertical-align: top;
    }

    .three-column .contents {
      font-size: 14px;
      text-align: center;
    }

    .three-column img {
      width: 100%;
      max-width: 180px;
      height: auto;
    }

    .three-column .text {
      padding-top: 10px;
    }

    .img-align-vertical img {
      display: inline-block;
      vertical-align: middle;
    }

    @media only screen and (max-device-width: 480px) {
      table[class=hide], img[class=hide], td[class=hide] {
        display: none !important;
      }
    }
    table {
      background: transparent
    }
  </style>
  <!--[if (gte mso 9)|(IE)]>
  <style type="text/css">
    table {
      border-collapse: collapse !important;
    }
  </style>
  <![endif]-->
</head>

<body style="Margin:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;min-width:100%;background-color:#ececec;">
<center class="wrapper" style="width:100%;table-layout:fixed;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;background-color:#ececec;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#ececec;" bgcolor="#ececec;">
    <tr>
      <td width="100%">
        <div class="webkit" style="max-width:600px;Margin:0 auto;">

          <!--[if (gte mso 9)|(IE)]>

          <table width="600" align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0">
            <tr>
              <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
          <![endif]-->

          <!-- ======= start main body ======= -->
          <table class="outer" align="center" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0;Margin:0 auto;width:100%;max-width:600px;">
            <tr>
              <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;"><!-- ======= start header ======= -->

                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                          <td align="center">
                            <center>
                              <table border="0" align="center" width="100%" cellpadding="0" cellspacing="0" style="Margin: 0 auto;">
                                <tbody>
                                <tr>
                                  <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0">
                                      <tr>
                                        <td>&nbsp;</td>
                                      </tr>


                                      <tr>
                                        <td height="6" bgcolor="#ed393d" class="contents" style="width:100%; border-top-left-radius:10px; border-top-right-radius:10px"></td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </center>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                  <tr>
                    <td>
                      <table style="width:100%;" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                        <tr>
                          <td align="center">
                            <center>
                              <table border="0" align="center" width="100%" cellpadding="0" cellspacing="0" style="Margin: 0 auto;">
                                <tbody>
                                <tr>
                                  <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" bgcolor="#FFFFFF"><!-- ======= start header ======= -->

                                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                                      <tr>
                                        <td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;"><!--[if (gte mso 9)|(IE)]>
                                        <table width="100%" style="border-spacing:0">
                                          <tr>
                                            <td width="20%" valign="top"
                                                style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                        <![endif]-->

                                          <div class="column" style="width:100%;max-width:110px;display:inline-block;vertical-align:top;">
                                            <table class="contents" style="border-spacing:0; width:100%" bgcolor="#ffffff">
                                              <tr>
                                                <td style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" align="left">
                                                  <a href="#" target="_blank"><img src="https://mybataz.com/assets/logo.png" width="150" alt="" style="border-width:0; max-width:150px;height:auto; display:block; margin-top: 20px"/></a>
                                                </td>
                                              </tr>
                                            </table>
                                          </div>

                                          <!--[if (gte mso 9)|(IE)]>
                                          </td>
                                          <td width="80%" valign="top"
                                              style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                                          <![endif]-->


                                          <!--[if (gte mso 9)|(IE)]>
                                          </td>
                                          </tr>
                                          </table>
                                          <![endif]--></td>
                                      </tr>
                                      <tr>
                                        <td align="left" style="padding-left:40px">
                                          <table border="0" cellpadding="0" cellspacing="0" style="border-bottom:2px solid #ed393d" align="left">
                                            <tr>
                                              <td height="20" width="30" style="font-size: 20px; line-height: 20px;">&nbsp;</td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>&nbsp;</td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </center>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>


                <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; background : #FFF">
                  <tr>
                    <td align="left" style="padding:0px 20px 20px 40px">
                      <p style="color:#5b5f65; font-size:28px; text-align:left; font-family: Verdana, Geneva, sans-serif">Dear, <%= @user.full_name %>!</p>
                      <p style="color:#5b5f65; font-size:16px; text-align:left; font-family: Verdana, Geneva, sans-serif">
Welcome to our exclusive community of fashionistas where you get a peek into the fashion world like never before. 
<br /><br />
Share your looks, read about the latest trends, get access to best stylists & designers from the industry and win amazing prizes from the brands you love most. 
<br /><br />
So, what are you waiting for? Get posting on the hottest social network for everything Fashion!

                      </p>
                    </td>
                  </tr>
                  <center>
                        <table cellpadding="0" cellspacing="0" border="0" width="100%;" style="background : #FFF;">
                          <tr>
                            <td>
                              <table border="0" align="center" cellpadding="0" cellspacing="0" style="Margin:0 auto; margin-bottom : 40px;" >
                                <tbody>
                                <tr>
                                  <td align="center">
                                    <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                                      <tr>
                                        <td width="250" height="60" align="center" bgcolor="#ed393d">
                                          <a href="https://mybataz.com/" style="width: 250px; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff; background:#ed393d" class="button_link">
                                             Upload another post
                                          </a>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </center>
                </table>


                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>
                      <table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#ed393d" >
                        <tr>
                          <td height="40" align="center" bgcolor="#ed393d" class="one-column">&nbsp;</td>
                        </tr>
                        <tr>
                          <td align="center" bgcolor="#ed393d" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:10px;padding-left:10px;">
                            <a href="https://mybataz.com/" target="_blank"><font style="font-size:13px; text-decoration:none; color:#ffffff; font-family: Verdana, Geneva, sans-serif; text-align:center">Mybataz.com</font></a>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" bgcolor="#ed393d" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                            <a href='https://play.google.com/store/apps/details?id=bataz.com.bataz&utm_source=mailer&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' height="80"/></a>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" bgcolor="#ed393d" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">
                            <table width="150" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="33" align="center">
                                  <a href="https://www.facebook.com/mybataz/" target="_blank"><img src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/237854a9-0a06-4f88-a9b8-c36e57e31083.png" alt="facebook" width="32" height="32" border="0"/></a>
                                </td>
                                <td width="34" align="center">
                                  <a href="https://twitter.com/MyBatazOfficial/" target="_blank"><img src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/2fb3f578-f70a-41b6-9bbc-f99a174d6456.png" alt="twitter" width="32" height="32" border="0"/></a>
                                </td>
                                <td width="33" align="center">
                                  <a href="#" target="_blank"><img src="https://gallery.mailchimp.com/fdcaf86ecc5056741eb5cbc18/images/17c02388-c25e-4eb5-a7cc-8f34458a50ad.png" alt="linkedin" width="32" height="32" border="0"/></a>
                                </td>
                              </tr>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td align="center" bgcolor="#ed393d" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">&nbsp;</td>
                        </tr>

                        <tr>
                          <td align="center" bgcolor="#ed393d" class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;">&nbsp;</td>
                        </tr>
                        <tr>
                          <td height="6" bgcolor="#ed393d" class="contents1" style="width:100%; border-bottom-left-radius:10px; border-bottom-right-radius:10px"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>

              </td>
            </tr>
          </table>
          <!--[if (gte mso 9)|(IE)]>
          </td>
          </tr>
          </table>
          <![endif]-->
        </div>
      </td>
    </tr>
  </table>
</center>
</body>
</html>
