<div class="full_bg">
	<div class="logo-center">
		<img src=<%= asset_path('login_logo.png') %> , height="120px;"/>
	</div>
	<div class="post mock-outer form_common bottom_margin">
		<h2 class="bottom_margin">Forgot your password?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= devise_error_messages! %>

		<div class="field">
			<%= f.email_field :email, placeholder: 'Email', autofocus: true, :required => true , class: "form_field_reg bottom_margin"%>
		</div>

		<div class="actions button-center bottom_margin">
			<%= f.submit "Send me reset password instructions" , class: "log_in_button"%>
		</div>
		<% end %>

		<%= render "devise/shared/links" %>
	</div>
</div>