<% content_for :head do%>
  <head>
  <title>Bataz</title>
  <!-- FB Tags -->
  <meta property="og:title" content="Bataz" />
  <meta property="og:image" content="<%= @brand.logo.url %>" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="650" />
  <meta property="og:description" content="<%= %>" />
  <meta property="og:type" content="website" />

  <!-- Twitter Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="Bataz">
  <meta name="twitter:title" content="Bataz">
  <meta name="twitter:description" content="<%= %>" >
  <meta name="twitter:image" content="<%= @brand.logo.url %>" >

</head>

<%end%>

<!DOCTYPE html>
<meta name="viewport" content="width=device-width, user-scalable=no">
<html>
  <!-- Google plus Tags -->
<body itemscope itemtype="http://schema.org/Product">
  <h1 itemprop="name">Bataz</h1>
  <img itemprop="image" src="<%= @brand.logo.url %>"/>
  <p itemprop="description"><%=  %></p>
</body>
</html>


