<% content_for :head do %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Mybataz</title>

  <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'home_page', 'data-turbolinks-track' => true %>
  <!-- Bootstrap -->
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:300,400,700" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700" %>

<% end %>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


<!-- start header section -->

<header id="header" class="logo_border">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-xs-4">
        <img src="<%= image_url('/assets/logo.png') %>" class="logo" alt="">
      </div>
      <div class="col-sm-6 col-xs-8">
        <div class="logo_btn text-right">
          <a class="a_class" href="https://play.google.com/store/apps/details?id=bataz.com.bataz"><img src="<%= image_url('/assets/google-play-badge.png') %>" alt="google-play-badge"></a>
          <%= link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-sign_up" %>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- End header section -->

<!-- Start logIn section -->

<section id="log_in_section" class="nature_bg">
  <div class="overlay_box">
    <div class="container">
      <div class="row ">
        <div class="col-md-5">

          <div class="bataz_txt" style="text-align: center; padding-top: 30px; padding-bottom: 20px;">
            <h2>Want To Become A Brand Influencer?</h2>

            <div class="space30"></div>


            <div class="white_para clearfix" style="line-height: 32px;">

              <p class="p_class">

                MyBataz is one of the hottest brand communities platform where users get to follow and engage with their
                favourite brands. Create your following, earn brand rewards and have brands reach out to you.

              </p>

            </div>

          </div>
        </div>
        <div class="col-md-5 col-md-offset-2">

          <div class="wht_bg">
            <p class="text-center mian_txt p_class">Log In</p>

            <p class="alert p_class"><%= alert %></p>

            <div class="space10"></div>

            <%= form_for(resource_name, url: api_v1_user_authentication_path, remote: true, method: :post, html: {id: 'signin_form'}) do |f| %>
              <div class="form-group">
                <%= f.email_field :email, autofocus: true, style: 'width: 100%;', class: 'form-control form_modifications', placeholder: 'Email' %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, autocomplete: "off", style: 'width: 100%;', class: 'form-control form_modifications', placholder: 'Password', placeholder: 'Password' %>
              </div>

              <% if devise_mapping.rememberable? -%>
                <div class="form-group">
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me, class: 'remember' %>
                </div>
              <% end -%>

              <!-- <div id="email_001">
                Email Id does not exist!
              </div> -->

              <div id="validation_sign_in_00001" class="validations_sign_in_css">
              </div>

              <div class="actions">
                <%= f.submit "Log in", class: 'btn btn-submit' %>
              </div>
            <% end %>
            <br/>
            <!-- <div class="face_book">
              <%= link_to omniauth_authorize_path(resource_name, 'facebook') do %>
                <span class="face_btn"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with Facebook</span>
              <% end %>
            </div>
            <div class="condition">
              <p class="p_class">We take your privacy seriously, we don't post anything to facebook.</p>
            </div>
            <div class="space30"></div> -->
            <p class="account_txt p_class">Don't have an account?
              <span class="sign_txt">  <%= link_to "Sign up", new_registration_path(resource_name) %>  </span></p>
            <%= render "devise/shared/links" %>


            <!--
               -              <form>
               -                <div class="form-group">
               -
               -                  <input type="email" class="form-control" placeholder="Email" id="email">
               -                </div>
               -                <div class="form-group">
               -
               -                  <input type="password" class="form-control" placeholder="Password" id="pwd">
               -                </div>
               -                  <label class="remember"> Remember me</label>
               -
               -                  <a href="#" class="password">Forgot password?</a>
               -                <div ></div>
               -                <button type="submit" class="btn btn-submit">Log in</button>
               -
               -                <div class="space30"></div>
               -                <p class="account_txt">Don’t have an account? <span class="sign_txt"><a href="#">Sign Up</a></span></p>
               -              </form>
               -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End logIn section -->

<!-- Start owl section -->

<section class="trending_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="main_txt">Trending now on Bataz</h1>

        <hr class="bottom_brdr">
      </div>
    </div>
    <div class="row space30">
      <div class="col-md-12">
        <div id="owl-demo" class="owl-carousel owl-theme">
          <div class="item">
            <img src="<%= image_url('/assets/Layer-48.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-49.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-40.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-50.jpg') %>" class="img-responsive center-block">
          </div>
          <div class="item">
            <img src="<%= image_url('/assets/Layer-51.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-43.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-44.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-45.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-46.jpg') %>" class="img-responsive center-block">
          </div>

          <div class="item">
            <img src="<%= image_url('/assets/Layer-47.jpg') %>" class="img-responsive center-block">
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- End owl section -->

<!-- Start owl section -->

<div class="space30"></div>

<section class="become">
  <div class="container">
    <div class="row">

      <div class="row">
        <div class="col-md-12">
          <h1 class="main_txt">Have it? Flaunt it!</h1>

          <hr class="bottom_brdr">
        </div>
      </div>

      <div class="three_sec clearfix">

        <div class="col-sm-4">

          <div class="under-totoal">

            <img src="<%= image_url('/assets/community.png') %>" alt="man"/>

            <h3>Join a vibrant community</h3>

            <p class="p_class">Immerse yourself in an exclusive community of Brand Influencers.</p>

          </div>


        </div>

        <div class="col-sm-4">

          <div class="under-totoal">

            <img src="<%= image_url('/assets/shoptaz.png') %>" alt="man"/>

            <h3>Never shop alone</h3>

            <p class="p_class">

              Get styling ideas in real time from Style Gurus, friends and other influencers.


            </p>

          </div>


        </div>

        <div class="col-sm-4">

          <div class="under-totoal">

            <img src="<%= image_url('/assets/guru.jpg') %>" alt="man"/>

            <h3>Become a Brand Guru</h3>

            <p class="p_class">

              Your favourite brands will follow you. What more would you want?

            </p>

          </div>


        </div>

      </div>


    </div>
  </div>
</section>

<!-- End owl section -->

<!-- Start footer Section -->

<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="copyright_section">
          <h1 class="Bataz_txt">Bataz is where the brand love flows.</h1>

          <%= link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-sign-up" %>

          <ul class="list-inline ul_class">
            <li class="li_class"><a class="a_class" href="https://www.instagram.com/mybataz/"> Instagram </a></li>
            <li class="li_class"><a class="a_class" href="https://twitter.com/MyBatazOfficial/"> Twitter </a></li>
            <li class="li_class"><a class="a_class" href="https://www.facebook.com/mybataz/"> Facebook </a></li>
            <li class="li_class"><a class="a_class" href="mailto:contact@mybataz.com?Subject=Hello%20from%20landing%20page"> Contact </a></li>
            <li class="li_class"><a class="a_class" href="/terms"> TOS </a></li>
            <li class="li_class"><a class="a_class" href="/privacy"> Privacy </a></li>
          </ul>

          <p class="copyright p_class">© 2017 Bataz PTE</p>
        </div>
      </div>
    </div>
  </div>
</footer>

<!-- End footer Section -->





<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" %>

<script type="text/javascript">
  $(document).ready(function () {
    $("#owl-demo").owlCarousel({
      autoPlay: 3000, //Set AutoPlay to 3 seconds
      items: 4,
      itemsCustom: [
        [0, 1],
        [320, 1],
        [480, 1],
        [768, 4],
        [1200, 4],
        [1400, 4],
        [1600, 4],
        [1920, 4]
      ],
      navigation: true, // Show next and prev buttons
      slideSpeed: 300,
      paginationSpeed: 400,

      navigationText: [
        "<img src='<%= image_url("/assets/left-arrow.png") %>'>",
        "<img src='<%= image_url("/assets/right-arrow.png") %>'>"
      ],
      pagination: false,
    });
  });

  $(document).ready(function() {
    return $("#signin_form").on("ajax:success", function(e, data, status, xhr) {
      // console.log(JSON.parse(xhr.responseText).data);
      document.getElementById("validation_sign_in_00001").innerHTML = 'Welcome to MyBataz';
      var access = JSON.parse(xhr.responseText);
      // console.log(mainurl);
      // console.log(access);

      $.ajax({
        url: `${mainurl}/oauth/authorize`,
        data: {
            client_id: client_id,
            redirect_uri: redirect_url, 
            response_type: "code",
            e: access.data.email,
            t: access.data.t
        },
        type: "GET",
        success: function(response) {
          // console.log(response);
          $.ajax({
            url: `${mainurl}/oauth/token`,
            data: {
                client_id: client_id,
                redirect_uri: redirect_url,
                client_secret: client_secret,
                grant_type: "authorization_code",
                code: response.code
            },
            type: "POST",
            success: function(response) {
              // console.log(response.access_token);
              let token = response.access_token;
              let user_id = access.data.id;
              createCookie(token, user_id, 30);
              // userLoggedIn = true;
              window.location.href = "/";
              // console.log(document.cookie);
            },
            error: function(xhr) {       
            }
          });
        },
        error: function(xhr) {
        }
      });
    }).on("ajax:error", function(e, xhr, status, error) {
      // console.log(JSON.parse(xhr.responseText).message);
      if(JSON.parse(xhr.responseText).message == "passwordMisMatch") {
        document.getElementById("validation_sign_in_00001").innerHTML = 'Enter correct password!';
      }
      else {
        document.getElementById("validation_sign_in_00001").innerHTML = 'Email Id does not exist!';
      }
    });
  });

</script>
