<!DOCTYPE>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
	<h1>Your friend has sent you an invite to help them with their shopping</h1>
	<p>
	So, help out your dear friend find their perfect outfit . It's not just this, check out our website and get to know more about BATAZ.
	</p>
	<p>
	Click on this URL to download the app</p>
	<p>
	Click on this URL to access the website</p>
</body>
</html>