//= require active_admin/base

function getCookie(name) {
  var name = name + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for (var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
      // return c.substring(name.length, c.length);
    }
  }
}

$(document).ready(function () {
  $('a.post_remove').click(function (e) {
    e.stopPropagation();  // prevent Rails UJS click event
    e.preventDefault();

    ActiveAdmin.modal_dialog("Abuse Type: ", {abuse_type: <%= AbuseType.where(abuse_type_for: 'Admin').pluck(:name, :id) %>},
      (function (_this) {
        return function (inputs) {
          var base_url = "";
          if($(_this)[0].host == 'localhost'){
            base_url = 'https://stage.mybataz.com';
          }

          var cookie = JSON.parse(getCookie("name"));
          access_token = cookie.access_token;

          var settings = {
            "async": true,
            "crossDomain": true,
            "url": base_url + "/api/v1/posts/" + $(_this)[0].id,
            "method": "DELETE",
            "headers": {
              "Content-Type": "application/json",
              "Authorization": "Bearer " + access_token,
            },
            "processData": false,
            "data": "{\n  \"post\": {\n    \"id\": " + $(_this)[0].id + ",\n    \"admin_destroy\": true,\n    \"abuse_type_id\": " + inputs.abuse_type +"\n  }\n}"
          }

          $.ajax(settings).done(function (response) {
            window.location.reload()
          });
        };
      })(this));
  })

  $('a.look_remove').click(function (e) {
    e.stopPropagation();  // prevent Rails UJS click event
    e.preventDefault();

    ActiveAdmin.modal_dialog("Abuse Type: ", {abuse_type: <%= AbuseType.where(abuse_type_for: 'Admin').pluck(:name, :id) %>},
      (function (_this) {
        return function (inputs) {
          var base_url = "";
          if($(_this)[0].host == 'stage.mybataz.com'){
            base_url = 'https://stage.mybataz.com';
          }

          var cookie = JSON.parse(getCookie("name"));
          access_token = cookie.access_token;

          var settings = {
            "async": true,
            "crossDomain": true,
            "url": base_url + "/api/v1/looks/" + $(_this)[0].id,
            "method": "DELETE",
            "headers": {
              "Content-Type": "application/json",
              "Authorization": "Bearer " + access_token,
            },
            "processData": false,
            "data": "{\n  \"look\": {\n    \"id\": " + $(_this)[0].id + ",\n    \"admin_destroy\": true,\n    \"abuse_type_id\": " + inputs.abuse_type +"\n  }\n}"
          }

          $.ajax(settings).done(function (response) {
            window.location.reload()
          });
        };
      })(this));
  })
});
