<div class="information-container wrapper">
  <div class="info">
    <h2 class="title"><%= swaggerJson.info.title %>
      <small><%= swaggerJson.info.version %></small>
    </h2>
    <span class="text-info">[ Base url: <%= location.origin %> ]</span>
    <div class="scheme-container">
      <section class="schemes wrapper">
        <label for="schemes">
          <span class="schemes-title">Schemes</span>
          <select>
            <% $.each(swaggerJson.schemes, function(index, scheme) { %>
            <option value="<%= scheme %>"><%= scheme %></option>
            <% }) %>
          </select></label>
      </section>
    </div>
  </div>
</div>
<% $.each(swaggerJson.tags, function(groupKey, groupVal) { %>
  <div class="opblock-tag-section" id="accordion1">
    <div class="opblock-tag" data-toggle="collapse" data-parent="#accordion1"
         href="#tag-group-details-<%= groupVal.name %>">
      <h4 class="expand">
        <div class="pull-right"><i class="glyphicon glyphicon-chevron-right"></i></div>
        <a class="nostyle"><%= groupVal.description %></a>
      </h4>
    </div>

    <div id="tag-group-details-<%= groupVal.name %>" class="panel-collapse collapse">
      <% $.each(swaggerJson.paths, function(path, obj) { %>
        <% $.each(obj, function(http_verb, apiDetails) { %>
          <% if ((groupVal.name == null) || (groupVal.name === apiDetails.tags.toString())) { %>
            <div class="opblock-tag-section" id="accordion2">
              <div data-toggle="collapse" data-parent="#accordion2" href="#<%= apiDetails.operationId %>"
                   class="opblock opblock-<%= http_verb %>">
                <div class="opblock-summary opblock-summary-<%= http_verb %>">
                  <span class="opblock-summary-method"><%= http_verb %></span>
                  <span class="opblock-summary-path"><%= path %></span>
                  <span class="opblock-summary-description"><%= apiDetails.summary %></span>
                </div>
              </div>
              <div id="<%= apiDetails.operationId %>" class="panel-collapse collapse opblock">
                <div class="opblock-section">
                  <div class="opblock-section-header">
                    <h4 class="opblock-title">Parameters</h4>
                    <div class="try-out">
                      <button class="btn try-out__btn">Try it out</button>
                    </div>
                  </div>
                  <% if (apiDetails.parameters.length === 0) { %>
                    <div class="opblock-description-wrapper"><p>No parameters Required</p></div>
                  <% } else { %>
                    <div class="table-container">
                      <table class="parameters">
                        <thead>
                        <tr>
                          <th class="col col_header parameters-col_name">Name</th>
                          <th class="col col_header parameters-col_description">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% $.each(apiDetails.parameters, function(index, param) { %>
                            <tr>
                              <td class="col parameters-col_name">
                                <div class="parameter__name required">
                                  <%= param.name %>
                                  <span style="color: red;">&nbsp;*</span>
                                </div>
                                <div class="parameter__in"><%= param.type %> (<%= param.in %>)</div>
                              </td>
                              <td class="col parameters-col_description">
                                <p><%= param.description %></p>
                                <% if ((param.name == "body") && (param.in == "body")) { %>
                                  <h6><strong>Example Value </strong>(click to copy / edit)</h6>
                                  <pre class="body-param__example microlight"><%= myBataz.ApiRenderer.getObjectSample(param.schema) %></pre>
                                  <textarea class="body-param-text hidden api-parameter-value-<%= param.name %>"><%= myBataz.ApiRenderer.getObjectSample(param.schema) %></textarea>
                                <% } else { %>
                                  <input type="text" class="hidden api-parameter-value-<%= param.name %>">
                                <% } %>
                              </td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  <% } %>
                  <div class="execute-wrapper hidden" data-verb="<%= http_verb %>" data-path="<%= path %>">
                    <input type="hidden" name="execute_wrapper_data" value='<%= JSON.stringify(apiDetails) %>'>
                    <button class="btn execute opblock-control__btn">Execute</button>
                  </div>
                  <div class="responses-wrapper">
                    <div class="opblock-section-header">
                      <h4 class="opblock-title">Responses</h4>
                      <label>
                        <span>Response content type</span>
                        <div class="content-type-wrapper execute-content-type">
                          <select class="content-type">
                            <option value="<%= apiDetails.produces[0] %>"
                                    selected><%= apiDetails.produces[0] %></option>
                          </select>
                        </div>
                      </label>
                    </div>
                    <div class="responses-inner">
                      <div class="server-response">
                        <h4>Server response</h4>
                        <pre></pre>
                        <h4>Responses</h4>
                      </div>
                      <table class="responses-table">
                        <thead>
                        <tr class="responses-header">
                          <th class="col col_header responses-col_status">Code</th>
                          <th class="col col_header responses-col_description">Description</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% $.each(apiDetails.responses, function(code, response) { %>
                            <tr class="responses">
                              <td class="col responses-col_code"><%= code %></td>
                              <td class="col responses-col_description"><%= response.description %></td>
                            </tr>
                          <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% } %>
        <% }) %>
      <% }) %>
    </div>
  </div>
<% }) %>