 <% content_for :head do%>
  <title>Mybataz Bataz - Brand</title>
   <meta property="description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
   <meta property="og:title" content="Mybataz - Brand">
   <meta property="og:description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
   <meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/mybataz/banners/header.jpg">
   <meta property="og:url" content="https://mybataz.com/">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <%end%>
<%= react_component("HelloWorld", props: {page: 'brand'}, prerender: false) %></div>

