 <% content_for :head do%>
  <title>Bataz - Follow Notifications</title>
   <meta property="description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
   <meta property="og:title" content="Mybataz - Follow Notifications">
   <meta property="og:description" content="Let’s Talk Fashion! Get advice from certified professionals from the world of fashion, beauty and wellness - with just a click! MyBataz - your one-stop shop for everything Fashion! Because, Fashion is for Everyone!">
   <meta property="og:image" content="https://s3.ap-south-1.amazonaws.com/mybataz/banners/header.jpg">
   <meta property="og:url" content="https://mybataz.com/">
 <%end%>
<%= react_component("HelloWorld", props: {page: 'follow_notification'}, prerender: false) %>

