 <% content_for :head do%>
  <title>Bataz - Home</title>

   <% unless params[:embedded] %>
     <script>
         clevertap.profile.push({
             "Site": {
                 "Name": "<%=current_user.full_name %>", // User's name
                 "Email": "<%=current_user.email %>"
         }
         });
     </script>

   <% end %>
  <% if params[:from_registration] == "true" %>
  		<script>
  			fbq('track', 'CompleteRegistration');
  			console.log("Calling CompleteRegistration");
		</script>

		<!-- Google Code for Mybataz Signups Conversion Page -->

		<script type="text/javascript">
			/* <![CDATA[ */
			var google_conversion_id = 847217181;
			var google_conversion_language = "en";
			var google_conversion_format = "3";
			var google_conversion_color = "ffffff";
			var google_conversion_label = "CwxWCJzC4nQQnYT-kwM";
			var google_remarketing_only = false;
			/* ]]> */
		</script>
		<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
		</script>
		<noscript>
			<div style="display:inline;">
				<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/847217181/?label=CwxWCJzC4nQQnYT-kwM&amp;guid=ON&amp;script=0"/>
			</div>
		</noscript>
  <% end %>
<%end%>
<%= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>
