/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require slick-carousel/slick/slick.css
 *= require slick-carousel/slick/slick-theme.css
 *= require social-likes/dist/social-likes_birman.css
 *= require pickadate/lib/themes/classic.css
 *= require pickadate/lib/themes/classic.date.css
 *= require animate.css/animate.css
 *= require_tree .
 *= require_self
 */

 $theme_red  : #bf0000;
 $slider_red : #920200;
 $text_color_dark : #000000;
 $text_color_light : #b9b9b9;

body {
  height: 100%;
  overflow: auto;
}
.body_color{
  background-color: #f2f2f2;
}

.content {
  margin-top: 1%;
    background: #FFFFFF;
    /* height: 40%; */
    width: 100%;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    float: left;
}
.brand-story {
  margin: 5px;
  margin-left:15px;
  line-height: 60px;
  border: none;
  border-color: transparent;
  outline: none;
  width: 85%;
}
 .text-style{
  font-weight: bold;
}

.center-align{
  text-align: center;
}
.red{
  color: #FF0000;
}

.lighter_text {
  color: $text_color_light;
}
.capsule{
  text-decoration:none !important;
  color:#333333;
  font-size:12px;
  font-weight:bold;
  padding:5px 15px;
  /*line-height:32px;*/
  height: auto;
  display:inline-block;
  text-align:center;
  border-radius: 20px;
  background-color: #f2f2f2;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  margin-bottom: 5px;
}

.advertise-div {
  background: white;
  margin-bottom: 10px;
  font-weight: bold;
}

.validations_sign_in_css {
  text-align: center;
  color: red;
}

.text-new{
  font-family: Lato;
  color: #4682b4;
}

.product-info{
  font-family: Muli;
  font-size: 10px;
  text-align: left;
  color: #606060;
  font-weight: 500;
  outline: none;
}

.product-info1{
  font-family: Muli;
  font-size: 10px;
  padding-left: 5px;
  text-align: right;
  color: #606060;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.bottom-space {
  padding-bottom: 5px;
}

.nav-icons {
  margin-left: 26%;
  padding-top: 0.32%;
}

.nav-icon-allignment {
  margin-left: 5%;
}

.post-price {
  text-decoration: none;
  color: black;
  float: right;
  cursor: pointer;
}

.post_info {
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  color: $text_color_dark;
  display: inline-block;
}

.post_claps {
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  color: $text_color_dark;
  display: inline-block;
  margin-left: 20px;
}

.nopadding {
  padding: 0 !important;
  //margin: 0 !important;
  margin-left: 8%;
}
.capsule-text{
  font-family: Muli;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: $theme_red;
}

.send_invite_text {
  font-weight: normal;
  text-align: left;
  color: $theme_red;
}

.post-header-space {
  padding-top: 30px;
}

.settings-icon{
  margin-left:40px;
}

.notification_bell_icon {
  background-image: asset-url("new-assets/notification_header_white.svg");
  margin-left:20px;
}

.mobile_nav {
    padding-left: 15px;
  }

.settingsicon {
  display: block;
}

.mobile_settingsicon {
  display: none;
}

.followicon {
  display: block;
}

.mobile_followicon {
  display: none;
}

.notificationicon {
  display: block;
}

.mobile_notificationicon {
  display: none;
}

.mobile-bataz-logo{
  display: none;
}

.mobile_margin {
  margin-right: 0px;
}

.remove_row_margin {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  padding-bottom: 0.32%;
}

@media (min-width: 320px) and (max-width: 480px) {
  
  .desktop-mobile {
    display: none;
  }

  .nav-icons {
    margin-left: 0%;
    padding-top: 0%;
  }

  .notification_bell_icon {
    background-image: asset-url("new-assets/notification_header_white.svg");
    margin-left: 0px;
  }

  #anim_delay{
    -webkit-animation-duration: 1s;
    -moz-animattion-duration: 1s;
    -o-animatin-duration:1s;
    -webkit-animation-delay: 0.5s;
    -moz-animation-delay: 0.5s;
    -o-animation-delay: 0.5s;
    animation-duration: 1s;
    animation-delay: 0.5s;
  }
  .vary_allignment {
    padding-top: 15px;
    font-size: 18px;
  }

  .vary_size_image {
    margin-bottom: -25px;
    height: 55px;
  }

  .user_info {
    display: inline-block;
  }
  .post {
    margin-left: 5%;
    margin-right: 5%;
  }
  .post_with_trending {
    padding-top: 10px;
  }

  .ham_menu {
    display: block;
    padding:0px 1%;
    margin-left: 4%;
  }
  .nav-icon-allignment {
    margin-left: 0%;
  }
  .search_icon_header {
    display: block;
    padding:0px 1%;
  }
  //.settings-icon {
  //  margin-left: 20px;
  //}

  .mobile_nav {
    padding-left: 0px;
  }

  .settingsicon {
    display: none;
  }

  .mobile_settingsicon {
    display: block;
  }

  .followicon {
    display: none;
  }

  .mobile_followicon {
    display: block;
  }

  .notificationicon {
    display: none;
  }

  .mobile_notificationicon {
    display: block;
  }
  .sideBar {
    display: none;
    margin-left: 1%;
    width: 95%;
  }
  .text-weight-style{
    font-family: Lato;
    font-weight: 600;
  }

  .left-padding{
    padding-left: 30px;
  }

  /*search box nav bar*/
  .nav_search_box{
    border: none;
    height: 28px;
  }

  .nav_screen_size_margin {
    margin-left: 0%;
  }
  .top-bottom-margin{  
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .left-right-margin{
    margin-left: 15px;
    margin-right: 0px;
  }

  .logo_mobile {
    margin-top: 2px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {

  .notification_bell_icon {
    background-image: asset-url("new-assets/notification_header_white.svg");
    margin-left:0px;
  }

  .desktop-mobile {
    display: none;
  }

  .nav-icons {
    margin-left: 0%;
    padding-top: 0%;
  }

  .vary_allignment {
    padding-top: 45px;
    font-size: 23px;
  }

  .vary_size_image {
    margin-bottom: -50px;
    height: 100px;
  }

  .user_info {
    display: inline-block;
  }
  .post {
   margin-left: 10%;
   margin-right: 10%;
 }

 .post_with_trending {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 30px;
}
.ham_menu {
  display: block;
  padding: 0px 1%;
  margin-left: 4%;
}
.search_icon_header {
  display: block;
  padding:0px 1%;
}
.nav-icon-allignment {
  margin-left: 0%;
}
.settings-icon {
  margin-left: 0px;
}
.mobile_nav {
  padding-left: 0px;
}
.settingsicon {
  display: none;
}

.mobile_settingsicon {
  display: block;
}

.followicon {
  display: none;
}

.mobile_followicon {
  display: block;
}

.notificationicon {
  display: none;
}

.mobile_notificationicon {
  display: block;
}
.sideBar {
  display: none;
  margin-left: 1%;
  width: 450px;
}

.text-weight-style{
  font-family: Lato;
  font-weight: 600;
}

.text-at-profile-bottom{
  font-size: 11px;
  font-family: Lato;
  color: #9D9D9D;
}

.left-padding{
  padding-left: 20px;
}

.nav_search_box{
  width : 100%;
  border: none;
  height: 25px;
}

.nav_screen_size_margin {
  margin-left: 0%;
}

.top-bottom-margin{  
 margin-top: 20px;
 margin-bottom: 20px;
}

.left-right-margin{
  margin-left: 15px;
  margin-right: 11px;
}

.marginsearch{
  margin-left: 16%;
}
}

@media (min-width: 768px) and (max-width: 1208px) {


}

@media only screen  and (min-width : 1209px) {

}

@media (max-width: 767px){

  .brand-story {
    margin: 5px;
    margin-left:15px;
    line-height: 60px;
    border: none;
    border-color: transparent;
    outline: none;
    width: 75%;
  }
  
  logos {
    margin-top: 0px;
  }

  .remove_row_margin {
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-bottom: 2.5%;
  }

  .notification_bell_icon {
    background-image: asset-url("new-assets/notification_header_white.svg");
    margin-left:0px;
  }

  .desktop-mobile {
    display: none;
  }

  .nav-icons {
    margin-left: 0%;
    padding-top: 0%;
  }

  .invite_icon {
    display: inline-block;
    float: left;
    background-image: asset-url("invite.svg");
    margin-right: 3%;
  }
  .logo_bg{
    display: inline-block;
    padding: 2px 6px;
    background-color: #920200;
    border-radius: 25px;
    width: 28px;
    height: 28px;
  }
  .bataz-logo{
    background-image: asset-url("new-assets/logo_white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    background-position: center;
  }
  .mobile-bataz-logo{
    display: block;
    background-image: asset-url("new-assets/logo_white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    background-position: center;
  }
  .hamburger-logo{
    background-image: asset-url("new-assets/hamberger_white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    background-position: center;
  }
  .mobile_margin {
    margin-right: 4%;
  }
  .search-icon {
    background-image: asset-url("new-assets/search_header_white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    width: 25px;
    height: 30px;
    background-position: center;
  }

  .before_search_invite{
    display: block;
  }
  .after_search_invite{
    display: none;
  }

  .margin-right-dynamic {
    margin-right: 8%;
  }
  .scrollable_inside {
    height:100%;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .log_in_button {
    background-color: #f13831;
    border-radius: 50px;
    color: white;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: inherit;
    font-weight: 700;
  }

  .width_setter {
    display: inline-block;
    width: 79%;
    border-bottom: #f2f2f2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
  }

  .lifestyle_score {
    float: right;
    display: inline-block;
  }

  .brand_info {
    float: right;
    padding-right: 5px;
    display: inline-block;
  }
}



@media (min-width : 768px)  {
  .logos {
    padding-top: 2px;
  }
  .outer-card {
    width: 44.5%;
  }
  .invite_icon {
    display: inline-block;
    float: left;
    background-image: asset-url("invite.svg") ;
    margin-right: 3%;
    background-position: unset !important;
  } 
  .bataz-logo{
    background-image: asset-url("new-assets/logo_white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    margin-top: 1px;
    width: 23.45px;
    height: 32px;
    background-position: center;
  }

  .mobile-bataz-logo {
    display: none;
  }
  .mobile_margin {
    margin-right: 0px;
  }
  .hamburger-logo{
    background-image: asset-url("new-assets/hamberger_white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    width: 23.45px;
    height: 32px;
    background-position: center;
  }
  .search-icon{
    background-image: asset-url("new-assets/search_header_white.svg");
    background-size: 25px;
    background-repeat: no-repeat;
    width: 26px;
    height: 30px;
    background-position: center;
  }
  .before_search_invite{
    display: none;
  }
  .after_search_invite{
    display: block;
  }

  .vary_allignment {
    padding-top: 45px;
    font-size: 23px;
  }

  .vary_size_image {
    margin-bottom: -50px;
    height: 100px;
  }
  .scrollable_inside {
    height:100%;
    overflow: hidden;
  }
  .scrollable_inside:hover{
    height:100%;
    overflow-y: overlay; 
  }
  .log_in_button {
    background-color: green;
    border-radius: 50px;
    color: white;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-width: inherit;
    font-weight: 700;
  }
  .post_with_trending {
    //margin-left: 20%;
    //margin-right: 30%;
    //padding-top: 30px;

    margin-left: 8%;
    margin-top: 1%;
    margin-right: 30%;
    padding-top: 30px;
  }

  .ham_menu {
    display: none;
  }
  .search_icon_header {
    display: none;
  }

  .post {
    margin-left: 30%;
    margin-right: 30%;
  }
  .sideBar {
    display: block;
    width: 21%;
    margin-left: 8%;
  }

  .left-padding{
    padding-left: 20px;
  }

  .text-weight-style{
    font-size: 16px;
    font-family: Lato;
    font-weight: 600;
  }

  .nav_search_box{
    width : 100%;
    border: none;
  }

  .nav_screen_size_margin {
    margin-left: 4%;
  }

  .follow-notif-text-align{
   text-align: left;
  }
  .left-right-margin{
    margin-left: 15px;
    margin-right: 11px;
  }
  .marginsearch{
    margin-left: 10%;
  }

}

.non-rounded-header {
  color: #9b9b9b;
  font-family: Lato;
  font-size: 15px;
  text-align: left;
  padding-left: 5px;
}

.mock-outer{
  color: #606060;
  display: block;
  line-height: 16.0799999237061px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 #dddddd;
  margin-bottom: 10px;
  padding-bottom: 12px;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 14px;
  word-wrap: break-word;

}

.mock-outer-text{
  color: #606060;
  display: block;
  line-height: 16.0799999237061px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 #dddddd;
  margin-bottom: 10px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 35px;
  padding-top: 11px;
  word-wrap: break-word;
}

.description{
  text-align: left;
  margin-top: 10px;
  font-family: Muli;
  font-size: 14px;
  color: $text_color_dark;
}

.left-align{
  text-align: left;
}

.margin-top-5{
  margin-top: 5px;
}
.margin-top-10{
  margin-top: 10px;
}
.margin-top-15{
  margin-top: 15px;
}
.padding-left-right-zero{
  padding-left: 0px;
  padding-right: 0px;
}
.color-section-below-profife{
  background-color: #F9F9F9;
}

.comment-box{
  resize: none;
  border: none;
  height: 31px;
  background-color: #f2f2f2;
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  color: $text_color_dark;
  display: inline-block;
  float: left;
  text-align: left;
  outline: none;
  padding-top: 8px;
  width: 100%;
}

.comment-portion {
  cursor: pointer;
}

.icon-b-heart{
  color: $theme_red;
  font-size: 13px;
}

.text-color{
  color: #9b9b9b;
}

.top-circular-image{
  width: 46px;
  height: 46px;
  border-radius: 75%;
  padding: 2px;
  margin: 25px 0 25px 0;
  border-collapse: separate;
  border: 2px dashed #E76491;
  box-sizing: border-box;
}

.circular-image{
  width: 42px;
  height: 42px;
  border-radius: 75%;
}


@media(max-width:991px){

  .top-contributers-name{
    font-size: 24px;
  }
  
  .top-contributers-score{
    padding-top: 14px;
  }
  .tt-input, .tt-hint {
    width: 100%;
    padding: 0px 5px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    border-radius: 20px;
    background-color: #f2f2f2;
    font-family: Muli;
    font-size: 10px;
    text-align: center;
    color: $text_color_dark;
  }
  .top_contributor_user_name {
    margin-top: 15px;
    padding: 0px;
    text-align: center;
  }

  .top_con_hr {
    width: 100%;
    margin-bottom: 0px;
  }
  .display_in_single_row{
    display: inline-block;
  }
  .add_float_left{
    float:left;
  }
}

/*Special handling for  sidebar when contents collapse*/

@media (min-width:768px) and (max-width: 991px){
  .gift_text {
    padding-right: 5%;
  }
  .margin-right-dynamic { 
    margin-right: 7px;
  }
  .user_rows {
    align-items: center;
    text-align: center;
  }
  .width_setter {
    text-align: center;
    border-bottom: #f2f2f2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    margin-right: 10px;
  }
  .lifestyle_score {
    text-align: center;
  }
  .rearrange_style, .t_headers {
    align-items: center;
    text-align: center;
  }
  .brand_info {
    padding-right: 5px;
  }
}

@media(min-width: 1209px){

  .top-contributers-name{
    font-size: 24px;
    padding-top: 10px;
    padding-right: 0;
    text-align: left;
  }
}

@media(min-width:992px){

  .gift_text {
    display: inline-block;
    padding-right: 5px;
  }

  .margin-right-dynamic {
    margin-right: 8%;
  }

  .top-contributers-name{
    font-size: 24px;
    padding-top: 10px;
    padding-right: 0;
    text-align: left;
  }
  .user_info {
    display: inline-block;
  }
  .width_setter {
    display: inline-block;
    width: 75%;
    border-bottom: #f2f2f2;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
  }
  .lifestyle_score {
    float: right;
    display: inline-block;
  }

  .brand_info {
    float: right;
    padding-right: 5px;
    display: inline-block;
  }

  .tt-input, .tt-hint {
    width: 100%;
    padding: 0px 5px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    border-radius: 20px;
    background-color: #f2f2f2;
  }

  .top_contributor_user_name {
    margin-top: 8px;
    padding: 0px;
    text-align: left;
  }

  .top_con_hr {
    width: 80%;
    margin-left: 13%;
    margin-bottom: 0px;
  }

}


.new-post-description{
  max-width: 100%;
  border: none;
  width: 100%; 
  max-height: 100%;
  border: none;
  background-color: #f2f2f2;
  font-family: Muli;
  font-size: 12px;
  color: $text_color_dark;
  outline: none;
}


/* styling for typeahead fields*/

.tt-menu {
  width: 150%;
  margin-top: 12px;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 12px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/* styling for post creation button */

.post-creation{
  color: #ffffff !important;
  text-decoration: none !important; 
}

/* styling for nav header */

.navbar-blocks {
  height: 25px;
  min-height: 25px;
}

.bell-button, .bell_button:hover {
  font-size: 14px;
  color: white;
  display: inline-block;
  padding: 2px 6px;
 // background-color: #920200;
  border-radius: 25px;
  width: 28px;
  height: 28px;
}


.button__badge {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  background: white;
  border-radius: 25px;
}
.unread{
  background: #faebd7;
}

#imageUpload
{
  display: none;
}

#profileImage
{
  cursor: pointer;
}

#profile-container {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

#profile-container img {
  width: 150px;
  height: 150px;
}


.profile-pic {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic:hover {
  background-color: rgba(0,0,0,.5);
  z-index: 10000;
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
}

.profile-pic span {
  display: inline-block;
  padding-top: 4.5em;
  padding-bottom: 4.5em;
}

.circular-pic-dimensions{
  width:86px;
  height:75px
}

.load-icon-dimensions{
  width:22%;
  height:22%;
}

.cursor{
  cursor: pointer;
}

.follow_icon{
  background-size: 25px auto;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  background-position: center;
}

//.follow_icon_image {
//  background-image: asset-url("new_follow.svg");
//}

.follow_icon_image {
  background-image: asset-url("new-assets/speech-bubble.svg");
}

.button-styling, .button-styling:hover, .button-styling:active, .button-styling:visited, .button-styling:focus {
  background: $theme_red;
  border: solid 1px #cc0300 !important;
  border-radius: 25px;
  color: #fff;
  padding: 5px 15px;
  font-family: Muli;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: none;
  cursor: pointer;
}
.no-notifications{
  text-align: center;
  margin-top: 10%;
  font-size: xx-large;
  color: crimson;
}
.vertical-align-parent{
  position: relative;
  padding-top:1px;
}

.vertical-align-child{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

.no-search-result{
  margin-top: 10%;
  color: red;
  font-size: x-large;
}
.delete_post_btn{
  margin-top: 2%;
  float: right;
  color: #9d9d9d;

}
.delete_btn{
  width:100%;
  padding-top: 2%;
  padding-left: 10%;
  text-align: right;
  color: black;
}

.error_message {
  text-align: center;
}
.form_common {
  font-family: 'Muli', 'Lato',sans-seriff;
  margin-top:10px;
  color: #999999;
  box-shadow: 0px 0px 6px #777;
  border: none;
}

.form_common h2{
  text-align: center; 
  font-weight: 600;
  color: #444;
  margin-top: 10px;
}
.form_field_reg {
  width: 100%;
  background-color: #f6f6f6;
  border-width: 0px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-weight: 400;
  padding-left: 10px;
}

.button-center{
  text-align: center;
}

.spinner_style{
  width: 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(asset_path('dropdown_arrow.svg')) center right 10px no-repeat #f6f6f6;
  background-size: 15px 10px;
  padding-right: 10px;
}

.label_field {
  font-weight: 400;
  padding-right: 50px;
}

.login_text{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 200;
  color: $text_color_dark;
}

.sign-out-button {
  background-color: #f13831;
  border-radius: 50px;
  padding-right: 45px;
  padding-left: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-width: inherit;
  font-weight: 700;
}

.sign-out-text {
  color: white;
}

.login_text span{
  color: #f99500;
}

.logo-center{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.bottom_margin {
  margin-bottom: 20px;
}

.full_bg {
  background-color: #f13831; 
  width: 100%; 
  height: 100%;
  position: fixed;
}

.error-input{
  border: 1px solid red !important;
}
.notification-read{
  background-color: #fff;
  border-color: #eee;
  color: #777;
}

.notification-unread {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}

.notification-message {
  font-size: 16px;
}

.notification-timestamp{
  color: #ccc;
  font-size: 12px;
}

.dropdown {
  position: relative;
  display: inline-block;
  float: right;
}
.dropdown button{
  border-width: 0px;
  background: none;
  opacity: 0.5;
  color: #b5b8bb;
}
.dropdown button:hover {opacity: 1;}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  right: 4px;
  left: auto;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  opacity: 1;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown p:hover {
  background-color: #f1f1f1
} 

.show {display:block;}

.hide {display:none;}

@media (max-width: 767px) {
  .vertical-align-parent{
    position: relative;
    padding-top:0px;
  }
  //.outer-card {
  //  width: 308px;
  //}
  .custom-follow-sm {
    padding-bottom: 10px;
  }

  .desktop-mobile {
    display: none;
  }

  .nav-icons {
    margin-left: 0%;
    padding-top: 0%;
  }
}

.settings_page_icon{
  box-shadow: 0px 2px 3px #ccc;
  border-radius: 100px;
}

.markAllRead {
  display: block;
  text-align: right;
  float:right;
}

.phoneAlign {
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  color: #f0ad4e;
  font-family: Muli;
}

.phoneAlign button{
  background-color: transparent;
  border: none;
  outline: none;
}

.phoneAlign button:focus {
  color: #FF9800 ;
  text-shadow: 1px 1px 2px #ccc;
}
.sidebar_common {
  position: fixed;
  margin-top: 42px;
  top:0px;
  bottom: 0;
  background-color: #f2f2f2;
}

.trending_heading {
  display: inline-block;
  font-family: Muli;
  font-size: 14px;
  color: $text_color_dark;
  vertical-align: middle;
  font-weight: 600;
  margin-top: 3px;
}

.paddingsTB {
  padding-top: 2%;
  padding-bottom: 2%;
}

.paddingsLR {
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
}

.explore_text {
  float: right;
  font-size: 15px;
  font-weight: 700;
  color: #aaa;
  margin-top: 3px;
  margin-right: 3px;
}

.top_user_image {
  padding-left: 5px;
  padding-top: 5px;
}

.lead {
  padding-left: 5px;
}

.tb_line {
  margin-top: 16px;
  margin-bottom: 11px;
  margin-right: 25px;
  margin-left: 5px;
}
.tb_brand {
  width: 100%;
  padding: 0px;
}

.tbb_brand {
  width: 100%;
}

.brand-image-size {
  height: 130px;
  padding-bottom: 10px;
}

.tb_brand_rows {
  padding: 0px;
  margin-left: 5%;
}
.margin_setter {
  margin-left: 4%;
}

.trendb_heading{
 margin-right: -20px;
 float: right;
}

.user_name
{
  textDecoration: none;
  color : #9D9D9D;
  display : inline-block;
}

.phone_search_align {
  margin-left: 5%;
}

.phone_menu_align {
  margin-left: 1%;
}

desktop-mobile {
  display: inline-block;
}

.always_inline_post{
  display: inline;
}

.extra_margin {
  margin-left: 13%;
}

.top_user_name, .top_user_name:hover {
  font-family: Muli;
  font-size: 12px;
  font-weight: 600;
  color: #2d2d2d;
  margin-bottom: 5px;
  margin-left: 10px;
}

#inside_sidebar::-webkit-scrollbar
{
  width: 2%;
  background-color: #F5F5F5;
}

#inside_sidebar::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: rgba(85, 85, 85, 0.3);
}
.display_bataz_icon {
  display: inline-block;
  float: right;
  padding: 0px;
}

.mMessage {
  text-align: center;
}

.mark_message {
  border-color: #ef3b39;
  background-color: #ef3b39;
  text-align: center;
  line-height: 30px;
  color: white;
  font-weight: 400;
  min-height: 121px;
  margin-bottom: 30px;
  white-space: pre-wrap;
}

.mm_image {
  box-shadow: 1px -2px 2px rgba(204, 204, 204, 0.19);
  border-radius: 100px;
}

.vary_allignment a{
  color: #f7941d;
  text-decoration: underline;
}

@keyframes bounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}
0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
}
20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.7, 1.7, 1.7);
}
40% {
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(1.1, 1.1, 1.1);
}
60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(2, 2, 2);
}
80% {
    -webkit-transform: scale3d(.97, .97, .97);
    transform: scale3d(.97, .97, .97);
}
100% {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
}
.post_user_name ,.post_user_name:hover {
  font-family: Muli;
  font-size: 14px;
  font-weight: 600;
  color: $text_color_dark;
  display: block;
}

.post_user_name_section {
  display: inline-block;
  padding-left: 10px;
  vertical-align: middle;
}
.post-creation-time {
  font-family: 'Maven Pro';
  font-size: 12px;
  font-weight: 500;
  color: #e0e0e1;
}

.post_image {
  margin-top: 10px;
  margin-left: -35px;
  margin-right: -35px;
}

.post_hr {
  color: #f2f2f2;
  margin:10px -35px;
}

.post_comment_user, .post_comment_user:hover {
  font-weight: bold;
  color: #606060;
}

.post_comment {
  font-family: Muli;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: $text_color_dark;
}

.comment_area {
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-right: 10px;
  display: inline-block;
  margin-left: 6px;
  margin-right: 3%;
  width: 82%;
}

.comment_btn, .comment_btn:active, .comment_btn:focus {
  background-image: asset-url("post-submit.svg");
  background-repeat: no-repeat;
  width: 18px;
  height: 21px;
  float: right;
  margin-top: 7px;
  color: #b5b8bb;
  background-color: transparent;
  outline:none;
}

.new_post_desc {
  border-radius: 10px;
  background-color: #f2f2f2;
}

.new_post_capsules {
  border-radius: 20px;
  background-color: #f2f2f2;
  font-family: Muli;
  font-size: 10px;
  border: 0px;
  text-align: center;
  color: $text_color_dark;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
  margin: 0;
}
.new_post_spacing{
  padding-left: 0px;
  padding-right: 5px;
}
.disp_inline{
  display: inline-block;
}

.nav_styling {
  background: #D5003A;
  box-shadow: 0 1px 3px 0 #dddddd;
  color: white;
  display: flex;
  align-items: center;
  height: 48px;
  min-height: 40px;
}

.nav_search_btn, .nav_search_btn:focus, .nav_search_btn:active, .nav_search_btn:visited, .nav_search_btn:hover {
  border:none;
  float: right;
  //color: $theme_red;
  color: #ADADAD;
  background: none;
  outline: none;
  height: 25px;
  padding-top: 4px;
}
.nav_search_text {
  outline: none;
  background: none;
  font-family: Muli;
  font-size: 14px;
  line-height: 2.2;
  //color: $theme_red;
  color: #ADADAD;
  font-weight: 500;
  width: 100%;
  border: none;
  padding-left: 15px;
}
//.settings-icon{
//  margin-left:20px;
//}

.mobile_nav {
  padding-left: 0px;
}

.settingsicon {
  display: none;
}

.mobile_settingsicon {
  display: block;
}

.followicon {
  display: none;
}

.mobile_followicon {
  display: block;
}

.notificationicon {
  display: none;
}

.mobile_notificationicon {
  display: block;
}

.navbar_vertical_align_child {
 // position: absolute;
 // margin-top: 5px;
}

.nav_search_style {
  border-radius: 2px;
  background-color: #ffffff;
  margin-top: 1px;
  //height: 35px;
}


.fire_icon_trending{
  display: inline-block;
  background-image: asset-url("fire.svg");
  /*background-size: 18px;*/
  background-repeat: no-repeat;
  width: 18px;
  height: 21px;
  vertical-align: middle;
  margin-right: 10px;
}

.trending_line {
  margin-left: -10px;
  margin-right: 0px;
}

.top_user_score {
  margin-right: 10px;
  text-decoration: none;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  color:  $text_color_light;
}

.trending_brand_info {
  font-family: Muli;
  font-size: 10px;
  font-weight: 600;
  text-align: right;
  color:  $text_color_light;
  display: inline-block;
  padding-right: 15px;
}

.sidebar_user_img_size{
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
}

.sidebar_component {
  padding-left: 10px;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 #dddddd;
  margin-top: 10px;
}

.fire_icon_navbar {
  background-image: asset-url("bataz_logo_sm.svg");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
  width: 28px;
  height: 28px;
  color: white;
}

.comment_icon {
  background-image: asset-url("comments.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 16px;
  position: relative;
  margin-right: 3%;
}

.share_icon {
  width: 20px;
  height: 20px;
  background-image: asset-url("share.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: relative;
  margin-right: 10px;
}

.active_clap_icon {
  width: 20px;
  height: 20px;
  background-image: asset-url("clapping.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
}

.deactive_clap_icon {
  width: 20px;
  height: 20px;
  background-image: asset-url("clap_deactive.svg");
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
}

/*placeholder text color*/
.nav_search_text::-webkit-input-placeholder {
  //color: $theme_red;
  color:#ADADAD;
  font-weight: 500;
}

.new-post-description::-webkit-input-placeholder {
  color: $text_color_dark;
}
.new_post_capsules::-webkit-input-placeholder {
  color: $text_color_dark;
}
.comment-box::-webkit-input-placeholder {
  color: $text_color_dark;
  font-weight: lighter;
}
.nav_search_text:-moz-placeholder{
  color: $theme_red;
  font-weight: 500;
}

.new-post-description:-moz-placeholder {
  color: $text_color_dark;
}
.new_post_capsules:-moz-placeholder {
  color: $text_color_dark;
}
.comment-box:-moz-placeholder {
  color: $text_color_dark;
  font-weight: lighter;
}
.nav_search_text::-moz-placeholder {
  color: $theme_red;
  font-weight: 500;
}

.new-post-description::-moz-placeholder {
  color: $text_color_dark;
}
.new_post_capsules::-moz-placeholder {
  color: $text_color_dark;
}
.comment-box::-moz-placeholder {
  color: $text_color_dark;
  font-weight: lighter;
}

input.nav_search_text:-ms-input-placeholder {
  color: $theme_red;
  font-weight: 500;
}

input.new-post-description:-ms-input-placeholder {
  color: $text_color_dark;
}
input.new_post_capsules:-ms-input-placeholder {
  color: $text_color_dark;
}
input.comment-box:-ms-input-placeholder {
  color: $text_color_dark;
  font-weight: lighter;
}

.align_to_left {
  display: inline-block;
  float: left;
}

.align_to_right{
  display: inline-block;
  float: right;
}

.title_name {
  font-family: Muli;
  font-size: 20px;
  font-weight: 600;
  color: $text_color_dark;
  padding-top: 10px;
}

.product-logo {
  width: 150px;
  height:150px;
  margin-right: 5%;
  border-radius: 5px;
  display: inline-block;
}

.country_name {
  font-family: Muli;
  font-size: 14px;
  color: $text_color_dark;
  margin-top: 5px;
}

.title_followers {
  font-family: 'Maven Pro';
  font-size: 20px;
  font-weight: 500;
  color: $text_color_dark;
}

.title_followers_text{
  font-family: Muli;
  font-size: 10px;
  font-weight: 600;
  color:  $text_color_light;
}

.follow_btn_text{
  font-weight: normal !important;
}

.title_comm_text {
  background-color: #ffffff;
  border: solid 1px #f2f2f2;
  width: max-content;
  display: inline;
  padding: 5px 15px;
}

.title_comm_header {
  margin-top: 30px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
  height: 10px;
}

.am_sections{
  width: 23%;
  display: inline-block;
  border-right: 1px solid #f2f2f2;
}

.am_num {
  font-family: Muli;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: $text_color_dark;
}

.am_text {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  color:  $text_color_light;
}

.hint_user_info {
  font-family: Muli;
  font-size: 10px;
  text-align: center;
}

.top_contributor_num {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color:  $text_color_light;
}

.slick-dots li button:before{
  color: #b5b8bb;
}
.slick-dots li.slick-active button:before {
  color: $slider_red;
}

.slick-dots{
  display: inline-block;
  width: fit-content;
  margin-left: -80px;
}
.top_con_likes{
  padding-right: 34px;
  padding-left: 0px;
}

.top_contributors_section {
  margin-top: 30px;
  margin-left: 20px;
}

.am_sections_3 {
  width: 33%;
}

.am_profile_width {
  margin-top: 30px;
  width: 100%;
}

.brand_badge{
  width: 50%;
}

.badge_circle {
  width: 36px;
  height: 36px;
  border-radius: 25px;
  display: inline-block;
  vertical-align: middle;
}

.guru_badge{
  background-image: linear-gradient(315deg, #ffb686, #ba00bf);
}

.ambassador_badge{
  background-image: linear-gradient(315deg, #ffb686, #ff7e7b);
}
.top_badge{
  position: relative;
}
.top_badge:after{
  content:attr(data-badge);
  position: absolute;
  top:-5px;
  right:-25px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
  min-width: 35px;
  background-color: $theme_red;
  border: solid 1px #ffffff;
}

.badge_heart:after {
  color: white;
  font-family: FontAwesome;
  content: '\f004';
  font-size: 16px;
}

.badge_star:after{
  color: white;
  font-family: FontAwesome;
  content: '\f005';
  font-size: 16px;
}

.slick-next:before{
  content:">";
  color: #d83d3b;
  font-weight: bold;
}

.slick-prev:before{
  content:"<";
  color: #d83d3b;
  font-weight: bold;
}

.view_profile_text, .view_profile_text:hover{
  font-family: Muli;
  font-size: 10px;
  font-weight: 600;
  color: $theme_red !important;
  margin-left: 10px;
}

.sidebar_user_text, .sidebar_user_text:hover{
  display: block;
  margin-bottom: 0px;
  color:#2d2d2d;
}

.sidebar_tu_text{
  display: inline-block;
  margin-left: 5px;
}

.navbar_profile_pic{
  width: 30px;
  height: 30px;
}

.social-likes__icon_single, .social-likes__widget_single:hover .social-likes__icon_single, .social-likes__widget_single:active .social-likes__icon_single, .social-likes__widget_single:focus .social-likes__icon_single, .social-likes__widget_active .social-likes__icon_single{
  background-image: asset-url("share.svg");
  background-repeat: no-repeat;
}

.social-likes__widget_single:hover,.social-likes__widget, .social-likes__widget_single:active, .social-likes__widget_single:focus, .social-likes__widget_active{
  background: transparent;
  border: none;
  color: #000;
}

.social-likes__button_single{
  padding-left: 25px;
  font-family: Muli;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: $text_color_dark;
}

.padding-top-10 {
  padding-top: 10px;
}
.error_mesg{
  margin-top: 10px;
  float: left;
}

.comment_image{
  margin-bottom: 0px;
  margin-right: 5px;
  display: inline-block;
}

.comment_current_user_image {
  display: inline-block;
  width: 10%;
}

.cmt_btn_alignment {
  float: right;
  padding: 0px;
}

.cmt_img_alignment {
  margin-right: 0px;
  text-align: right;
  padding-left: 0px;
  vertical-align: top;
}

.slick-prev, .slick-next {
  top: 106%;
}

.slick-prev {
  left:5%;
}

.slick-next {
  right: 5%;
}

.cmt_img_width {
  width: 12%;
  display: inline-block;
}

.cmt_text_width {
  width: 86%;
  display: inline-block;
}

.cmt_menu_width {
  width: 2%;
  display: inline-block;
}

.cmt_text_margins {
  padding-left: 7px;
  padding-right: 3px;
}

.send_invite_section {
  width: 100%;
}

.si_capsule {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #ffffff;
  padding: 5px 4%;
  max-width: 105px;
  margin-top: 2px;
  margin-left: 20%;
}
.email_error{
  color: $theme_red;
  display: none;
}
.remove_decoration {
  text-decoration: none;
  border:none;
  background: none;
  width:100%;
}
.add_padding_5{
  //margin-left: 5px;
  //margin-right: 5px;
}

.brand_logo_alignment {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
  display: inline-block;
}

.width_calc {
  width: calc(100% - 180px);
  border-bottom: none;
}
.success_mesg{
  display: none;
}

.entire_header {
  height: 150px;
}
.user_rows_height {
  min-height: 291px;
}
.gift_image {
  height: 39px;
  width: 39px;
  background-image: asset-url("gift.svg");
  background-size: 39px;
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
}

.sr_red_font{
  font-weight: 800;
  color: $theme_red;
}


.more_text, .more_text:hover {
  text-decoration: none;
  margin-top: 20px;
  margin-right: 10px;
  padding-bottom: 10px;
  text-align: right;
  color: $theme_red;
}
.rSbElement_image{
  width: 100%;
  padding-right: 5px;
  padding-top: 7px;
}
.rSbElement_name, .rSbElement_name:hover {
  text-decoration: none;
  font-family: Muli;
  font-size: 12px;
  text-align: left;
  color: #000000;
  padding-bottom: 10px;
  padding-top: 15px;
}
.know_more_link {
  text-align: right;
}

.right_sidebar_alignment {
  margin-left: 71%;
}

.rSbElement_section {
  padding-top: 5px;
  padding-bottom: 10px;
  margin-left: -5px;
}
