.swagger-ui {
  margin-bottom: 50px;
}

.swagger-ui .wrapper {
  padding: 0;
}

.swagger-ui .scheme-container {
  box-shadow: none;
  padding: 0;
  display: inline-block;
  float: right;
}

.swagger-ui .table-container {
  padding: 10px 20px 0;
}

.swagger-ui table tbody tr td:first-of-type {
  padding: 10px 0 0;
}

.swagger-ui .info .title small {
  color: #fff;
  padding: 3px 5px;
}

.swagger-ui .info {
  margin-top: 10px;
}

.swagger-ui textarea {
  border: 1px solid #ccc;
}

.swagger-ui .scheme-container .schemes>label {
  margin-top: -35px;
}

.swagger-ui .parameter__name.required {
  padding-bottom: 5px;
}

.swagger-ui .opblock .opblock-section-header h4, .swagger-ui .responses-inner h4, .swagger-ui .parameter__name {
  font-weight: bold;
}

.server-response {
  display: none;
}

.expand {
  width: 100%;
  margin: 0;
}