<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="propeller" content="579d98ee8001a520e14439480c8716f6">
<head>
  <!-- Facebook Pixel Code -->
  <script type="text/javascript">
    var clevertap = {event: [], profile: [], account: [], onUserLogin: [], notifications: []};
    // replace with the CLEVERTAP_ACCOUNT_ID with the actual ACCOUNT ID value from your Dashboard -> Settings page
    clevertap.account.push({"id": "4RW-5R8-7Z5Z"});
    (function () {
      var wzrk = document.createElement('script');
      wzrk.type = 'text/javascript';
      wzrk.async = true;
      wzrk.src = ('https:' == document.location.protocol ? 'https://d2r1yp2w7bby2u.cloudfront.net' : 'http://static.clevertap.com') + '/js/a.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wzrk, s);
    })();
  </script>
  <script>
    function getCookie(name) {
      var name = name + "=";
      var decodedCookie = decodeURIComponent(document.cookie);
      var ca = decodedCookie.split(';');
      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
          // return c.substring(name.length, c.length);
        }
      }
    }

    function createCookie(token, user_id, days) {
      var date, expires;
      if (days) {
        date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toGMTString();
      } else {
        expires = "";
      }
      var obj = {access_token: token, user_id: user_id};
      var cookie1 = JSON.stringify(obj);
      document.cookie = "name" + "=" + cookie1 + expires + "; path=/";
      // console.log(token);
    }

    function eraseCookie() {
      // console.log("Sign Out Called");

      let name = "name";
      let path = "/";

      // console.log(name, path, domain);
      if (getCookie(name)) {
        document.cookie = name + "=" +
          ((path) ? "; path=" + path : "") +
          ((domain) ? "; domain=" + domain : "") +
          "; expires=Thu, 01-Jan-70 00:00:01 GMT";
      }
    }

    var cookie = JSON.parse(getCookie("name"));
    access_token = cookie.access_token;

    var userLoggedIn = false;

    if (access_token) {
      var access001 = access_token;
      var userLoggedIn = true;
    }
    else {
      var userLoggedIn = false;
    }

    var current_user_id = cookie.user_id;

    if (!access_token) {
      if (window.location.pathname != "/users/sign_in") {
        window.location.href = '/users/sign_in';
      }
    }

    // console.log(access_token);

    !function (f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function () {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '133127870726612');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1"
         src="https://www.facebook.com/tr?id=133127870726612&ev=PageView
       &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <% if content_for?(:head) %>
    <%= content_for(:head) %>
  <% else %>
    <title>Bataz</title>
  <% end %>

  <%= csrf_meta_tags %>

  <script>
    // console.log(current_user_id);
    // console.log(window.location.host);
    // console.log()
    var show_animation_for_like_post = -1
    var show_animation_for_comment_post = -1

    var bataz_logo = "<%= asset_path( 'bataz_new_logo.svg' ) %>";
    var loading_pic = "<%= asset_path( 'loading.gif' ) %>";
    var bataz_login_logo = "<%= asset_path('login_logo.png') %>";

    //notification_variables
    var commented = "commented";
    var clapped = "clapped";
    var followed = "followed";
    var warnings = "warning";
    var removed = "removed";
    var trackable_type = "Story";
    var type_post = "post";
    var type_look = "look";
    var clapped_times = "times";

    //local old //Subhojit
    // var mainurl = "http://localhost:3000";
    // var domain = "localhost";
    // var client_id = "472e17d3d8360d103a75d3543325a7d946052bd70f0e73e9766bbd876996b3e2";
    // var client_secret = "169ec6ed1b92c07d49a817a55957d1de95a94940774a039e51a9e97e81dea449";
    // var redirect_url = "http://localhost:3000/api/v1/user/auth_code_callback";

    //local new //Subhojit
    var mainurl = "http://localhost:3000";
    var domain = "localhost";
    var client_id = "ccc2b12e03ba01067a7a16f87ca0437b9328167a47ecc8fa5473ebfb75fbe31a";
    var client_secret = "e26c9501a279f928623a33850767ae5e223808be641782e28d171ab791fd7a26";
    var redirect_url = "http://localhost:3000/api/v1/user/auth_code_callback";

    // //local //Jha
    // var mainurl = "http://localhost:3000";
    // var domain = "localhost";
    // var client_id = "d56970206fcf4eb84a90b6e45e9909a41affd1fe8e9dc30e25215c03d6485e96";
    // var client_secret = "5523bfc10035536d3a65327045a96004e90f3fbe508c8fc3db999392d23296ae";
    // var redirect_url = "http://localhost:3000/api/v1/user/auth_code_callback";

    // //staging
    // var mainurl = "https://stage.mybataz.com";
    // var domain = "stage.mybataz.com";
    // var client_id = "a71977c3fd61f27c5867162dd755676f4803703beb1d13a20d0b8b8e92adc008";
    // var client_secret = "507167e64c0f8aa1d0e88f5c296d9ae04628883ebfc1578394ed68ce205416a4";
    // var redirect_url = "https://stage.mybataz.com/api/v1/user/auth_code_callback";

    //live
    // var mainurl = "https://mybataz.com";
    // var domain = "mybataz.com";
    // var client_id = "a71977c3fd61f27c5867162dd755676f4803703beb1d13a20d0b8b8e92adc008";
    // var client_secret = "507167e64c0f8aa1d0e88f5c296d9ae04628883ebfc1578394ed68ce205416a4";
    // var redirect_url = "https://mybataz.com/api/v1/user/auth_code_callback";

  </script>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-101184935-1', 'auto');
    ga('send', 'pageview');
  </script>

</head>
<body class="<%= action_name == 'index' || action_name == "brand" || action_name == 'profile' || action_name == 'search' ? "body_color" : "" %>">
<%= yield %>

<!-- Infolinks Publisher Center Code -->
<script type="text/javascript">
  var infolinks_pid = 3047899;
  var infolinks_wsid = 0;
</script>
<script type="text/javascript" src="http://resources.infolinks.com/js/infolinks_main.js"></script>
<!-- End Infolinks Publisher Center Code -->

<!-- Google Code for Remarketing Tag -->
<!--
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive
categories. See more information and instructions on how to setup the tag on: http://google.com/ads/remarketingsetup
-->
<script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 847217181;
  var google_custom_params = window.google_tag_params;
  var google_remarketing_only = true;
  /* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
  <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/847217181/?guid=ON&amp;script=0"/>
  </div>
</noscript>
<!-- Google Code for Remarketing Tag END -->

</body>
</html>
